<fieldset class="block">
    <div class="wrapper">
        <h2>Дополнительная информация</h2>
        <b>Звонок менеджера</b>
        <div class="row v call-no-need-wrapper">
            <label for="{{ form.isCallNeeded.vars.id }}_0">
                Не требуется, со сроками доставки ознакомлен
                <input type="radio" id="{{ form.isCallNeeded.vars.id }}_0" name="{{ form.isCallNeeded.vars.full_name }}" value="0"{% if (form.isCallNeeded.vars.value is same as("0"))  %} checked="checked"{% endif %} />
            </label>
        </div>
        <div class="row v">
            <label for="{{ form.isCallNeeded.vars.id }}_1">
                Требуется (у меня остались вопросы)
                <input type="radio" id="{{ form.isCallNeeded.vars.id }}_1" name="{{ form.isCallNeeded.vars.full_name }}" value="1"{% if (form.isCallNeeded.vars.value is same as("1"))  %} checked="checked"{% endif %} />
            </label>
            <span class="status"></span>
            {% if errors.isCallNeeded is defined %}
                <div class="error">{{ errors.isCallNeeded.0 }}</div>
            {% endif %}
        </div>
        <div class="row v subrow call-question-wrapper{% if not(form.isCallNeeded.vars.value is same as("1")) %} hidden{% endif %}">
            {{ form_widget(form.callNeedComment, { attr: { class: 'txt', placeholder: 'Краткая суть вопроса' }}) }}
            <div class="notice">В случае изменения срока доставки, статуса товара или если требуется предоплата, с вами свяжется менеджер</div>
        </div>
        <div class="row v">
            {{ form_widget(form.comment, { attr: { class: 'txt', rows: 8, placeholder: 'Просьбы и пожелания' }}) }}
        </div>
        {% include 'User/is_human_form.html.twig' with { form: form } only %}
        <div class="notice">Личные сведения, полученные в распоряжение Интернет-магазина при регистрации или каким-либо иным образом, не будут без разрешения пользователей передаваться третьим организациям и лицам за исключением ситуаций, когда этого требует закон или судебное решение.</div>
    </div>
</fieldset>
