<fieldset class="block">
    <div class="wrapper">
        <h2>Способ доставки</h2>
        <div class="row h">
            <label>Город получения:</label>
                <div>
                {% if constant('AppBundle\\Enum\\OrderType::RETAIL') == form.typeCode.vars.value %}
                    {{ form_widget(form.geoCityName, { attr: { class: 'txt autocomplete', novalidate: true, readonly: true }}) }}
                {% else %}
                    {{ form_widget(form.geoCityName, { attr: { class: 'txt autocomplete', novalidate: true }}) }}
                {% endif %}
                </div>
            {% if cart.hasStroika %}
                <div class="notice">Внимание! Самовывоз стройматериалов возможен только из города Пенза.</div>
            {% endif %}
            <div class="notice">В случае отсутствия пункта самовывоза в вашем городе, Вы можете указать ближайший город, где такой пункт есть, чтобы самостоятельно забрать свой заказ оттуда.</div>
        </div>
        <div>
            {{ form_widget(form.geoCityId) }}
        </div>
        {% for choice in form.deliveryTypeCode.vars.choices %}

        <div class="row v">
            <label for="{{ form.deliveryTypeCode.vars.id }}_{{ choice.value }}">
                {{ choice.label }}
                <input type="radio" id="{{ form.deliveryTypeCode.vars.id }}_{{ choice.value }}" name="{{ form.deliveryTypeCode.vars.full_name }}" value="{{ choice.value }}"{% if (choice.value == form.deliveryTypeCode.vars.value)  %} checked="checked"{% endif %} novalidate="novalidate" />
            </label>
        </div>

        {% if constant('AppBundle\\Enum\\DeliveryTypeCode::EX_WORKS') == choice.value and constant('AppBundle\\Enum\\DeliveryTypeCode::EX_WORKS') == form.deliveryTypeCode.vars.value %}
            {% for subchoice in form.geoPointId.vars.choices %}
            <div class="row subrow">
                <label for="{{ form.geoPointId.vars.id }}_{{ subchoice.value }}">
                    {% if subchoice.label is empty %}
                        <a href="/contacts/{{ subchoice.value }}/">{{ subchoice.data.address }}</a>
                    {% else %}
                        {{ subchoice.label }}
                    {% endif %}
                    <input type="radio" id="{{ form.geoPointId.vars.id }}_{{ subchoice.value }}" name="{{ form.geoPointId.vars.full_name }}" value="{{ subchoice.value }}"{% if (subchoice.value == form.geoPointId.vars.value)  %} checked="checked"{% endif %} />
                </label>
            </div>
            {% endfor %}
        {% endif %}

        {% if constant('AppBundle\\Enum\\DeliveryTypeCode::COURIER') == choice.value and constant('AppBundle\\Enum\\DeliveryTypeCode::COURIER') == form.deliveryTypeCode.vars.value %}
            <div class="row subrow h{% if errors.address.geoStreetId is defined or errors.address.house is defined or errors.address.apartment is defined %} error{% endif %}">
                <label for="{{ form.address.geoStreetName.vars.id }}">
                    Адрес: <b>*</b>
                </label>
                <span class="col w150">
                    {{ form_widget(form.address.geoStreetName, { attr: { class: 'txt autocomplete' }}) }}
                    {{ form_widget(form.address.geoStreetId) }}
                    <div class="notice">Улица</div>
                </span>
                <span class="col w60">
                    {{ form_widget(form.address.house, { attr: { class: 'txt' }}) }}
                    <div class="notice">Дом</div>
                </span>
                <span class="col w60">
                    {{ form_widget(form.address.building, { attr: { class: 'txt' }}) }}
                    <div class="notice">Строение</div>
                </span>
                <span class="col w60">
                    {{ form_widget(form.address.apartment, { attr: { class: 'txt' }}) }}
                    <div class="notice">Квартира</div>
                </span>
                <span class="status"></span>
                {% if errors.address.geoStreetId is defined %}
                    <div class="error">{{ errors.address.geoStreetId.0 }}</div>
                {% endif %}
                {% if errors.address.house is defined %}
                    <div class="error">{{ errors.address.house.0 }}</div>
                {% endif %}
                {% if errors.address.house is defined %}
                    <div class="error">{{ errors.address.building.0 }}</div>
                {% endif %}
                {% if errors.address.apartment is defined %}
                    <div class="error">{{ errors.address.apartment.0 }}</div>
                {% endif %}
            </div>
            <div class="row subrow h">
                <span class="col w140">
                    <label class="inline">
                        Нужен подъем на этаж
                        {{ form_widget(form.needLifting) }}
                    </label>
                </span>
                <span class="col w60">
                    {{ form_widget(form.address.floor, { attr: { class: 'txt' }}) }}
                    <div class="notice">Этаж</div>
                </span>
                <span class="col w140">
                    <label class="inline">
                        Есть лифт
                        {{ form_widget(form.address.hasLift) }}
                    </label>
                </span>
                <span class="status"></span>
                {% if errors.address.floor is defined %}
                    <div class="error">{{ errors.address.floor.0 }}</div>
                {% endif %}
                {% if errors.address.hasLift is defined %}
                    <div class="error">{{ errors.address.hasLift.0 }}</div>
                {% endif %}
            </div>
        {% endif %}

        {% if constant('AppBundle\\Enum\\DeliveryTypeCode::POST') == choice.value and constant('AppBundle\\Enum\\DeliveryTypeCode::POST') == form.deliveryTypeCode.vars.value %}
            <div class="notice">от {{ post_delivery_cost|price_format }} <span class="RUR">Р</span>, о возможности доставки заказанных товаров почтой вам сообщит менеджер</div>
            {% include 'Order/geo_address_form.html.twig' %}
        {% endif %}

        {% if constant('AppBundle\\Enum\\DeliveryTypeCode::TRANSPORT_COMPANY') == choice.value and constant('AppBundle\\Enum\\DeliveryTypeCode::TRANSPORT_COMPANY') == form.deliveryTypeCode.vars.value %}
            {% for subchoice in form.transportCompanyId.vars.choices %}
            <div class="row subrow">
                <label for="{{ form.transportCompanyId.vars.id }}_{{ subchoice.value }}">
                    {{ subchoice.label }}<span style="font-size:12px;color:#666">, 2 - 14 дней</span>, <a href='{{ subchoice.data.url }}' onclick='window.open(this.href); return false;'>рассчитать стоимость услуг</a>
                    <input type="radio" id="{{ form.transportCompanyId.vars.id }}_{{ subchoice.value }}" name="{{ form.transportCompanyId.vars.full_name }}" value="{{ subchoice.value }}"{% if (subchoice.value == form.transportCompanyId.vars.value)  %} checked="checked"{% endif %} />
                </label>
                <div class="notice2">доставка до ТК: 200 <span class="RUR">Р</span> <b style="font-size: 18px">*</b></div>
            </div>
            {% endfor %}
            <div class="notice">* Указана стоимость доставки заказа до филиала транспортной компании (ТК), она не включает в себя стоимость доставки самой ТК, которая оплачивается непосредственно при получении товара и зависит от габаритов и веса товаров в заказе. <br/>Расчитать стоимость услуг ТК, вы можете перейдя на калькулятор услуг по ссылке, указанной рядом с названием соответствующей ТК.</div><br/>
            {% if constant('AppBundle\\Enum\\OrderType::LEGAL') != form.typeCode.vars.value %}
                {% include 'Order/passport_form.html.twig' %}
            {% endif %}
        {% endif %}

        {% endfor %}
    </div>
</fieldset>
