<fieldset class="block">
    <div class="wrapper">
        <h2>Способ доставки</h2>
        {% for choice in form.deliveryTypeCode.vars.choices %}
        <div class="row">
            <label for="create_form_deliveryTypeCode_{{ choice.value }}">
                {{ choice.label }}
                <input type="radio" id="create_form_deliveryTypeCode_{{ choice.value }}" name="create_form[deliveryTypeCode]" value="{{ choice.value }}" required="required"{% if (choice.value == form.deliveryTypeCode.vars.value)  %} checked="checked"{% endif %} />
            </label>
        </div>
        {% if constant('AppBundle\\Enum\\DeliveryTypeCode::EX_WORKS') == choice.value %}
            {% for subchoice in form.geoPointId.vars.choices %}
            <div class="row">
                <label for="create_form_geoPointId_{{ subchoice.value }}">
                    {{ subchoice.label }}
                    <input type="radio" id="create_form_geoPointId_{{ subchoice.value }}" name="create_form[geoPointId]" value="{{ subchoice.value }}" required="required"{% if (subchoice.value == form.geoPointId.vars.value)  %} checked="checked"{% endif %} />
                </label>
                <div class="notice2"><a href="/contacts/{{ subchoice.value }}/">{{ subchoice.data.address }}</a></div>
            </div>
            {% endfor %}
        {% endif %}
        {% if constant('AppBundle\\Enum\\DeliveryTypeCode::TRANSPORT_COMPANY') == choice.value %}
            {% for subchoice in form.transportCompanyId.vars.choices %}
            <div class="row">
                <label for="create_form_transportCompanyId_{{ subchoice.value }}">
                    {{ subchoice.label }}, <a href='{{ subchoice.data.url }}' onclick='window.open(this.href); return false;'>рассчитать стоимость услуг</a>
                    <input type="radio" id="create_form_transportCompanyId_{{ subchoice.value }}" name="create_form[transportCompanyId]" value="{{ subchoice.value }}" required="required"{% if (subchoice.value == form.transportCompanyId.vars.value)  %} checked="checked"{% endif %} />
                </label>
                <div class="notice2">200 <span class="RUR">Р</span>, 2 - 14 дней <b style="font-size: 18px">*</b></div>
            </div>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</fieldset>
