<div class="order-history block gray">
    <div class="wrapper">
        <div class="column">
            <h2>
                Заказ №
                {% if app.userIsEmployee %}
                    <a href="{{ path('authority', { targetUrl: admin_host ~ '/admin/orders/' ~ order.id }) }}">
                        {{ order.number }}
                    </a>
                {% else %}
                    {{ order.number }}
                {% endif %}
                <span>от {{ order.createdAt|date_format('%d %B %Y')|replace({ 'нварь': 'нваря', 'евраль': 'евраля', 'арт': 'арта', 'прель': 'преля', 'ай': 'ая', 'юнь': 'юня', 'юль': 'юля', 'вгуст': 'вгуста', 'ентябрь': 'ентября', 'ктябрь': 'ктября', 'оябрь': 'оября', 'екабрь': 'екабря' })|replace({ 'аа': 'а' }) }}</span>
            </h2>
            <dl>
                {% if constant('AppBundle\\Enum\\OrderType::RESUPPLY') != order.typeCode and constant('AppBundle\\Enum\\OrderType::EQUIPMENT') != order.typeCode and constant('AppBundle\\Enum\\OrderType::CONSUMABLES') != order.typeCode %}
                    <dt><span title="Указана сумма всех неотмененных позиций">Сумма заказа:</span></dt>
                    <dd>{{ order.amount|price_format }} <span class="RUR">Р</span></dd>
                {% endif %}
                {% if order.paymentTypeName is not empty %}
                    <dt>Способ оплаты:</dt>
                    <dd>{{ order.paymentTypeName }}</dd>
                {% endif %}
                {% if order.deliveryType %}
                    <dt>Способ доставки:</dt>
                    <dd>{{ order.deliveryTypeName }}</dd>
                {% endif %}
                {#if $order.delivery_type=='Транспортная компания'}
                <dt>Название компании:</dt><dd>&nbsp;{$order.trading}</dd>
                {if $order.trading_code}
                <dt>Код груза:</dt><dd>&nbsp;{$order.trading_code}{if $order.trading_link},&nbsp; <a href="{$order.trading_link}" onclick="window.open(this.href);return false;">проверить статус</a>{/if}</dd>
                {/if}
                {elseif $order.delivery_type=='Почта России' && $order.trading_code}
                <dt>Код груза:</dt><dd>&nbsp;{$order.trading_code}</dd>
                {/if#}
                {#if $order.discount}
                <dt>Скидка:</dt><dd>&nbsp;{$order.discount|price_format} <span class="RUR">Р</span></dd>
                {/if#}
                <dt>Статус:</dt>
                <dd class="{{ order.statusCode }}">{{ order.statusCodeName }}</dd>
            </dl>
        </div>
        <div class="column">
            {% if constant('AppBundle\\Enum\\OrderType::RESUPPLY') != order.typeCode and constant('AppBundle\\Enum\\OrderType::EQUIPMENT') != order.typeCode and constant('AppBundle\\Enum\\OrderType::CONSUMABLES') != order.typeCode %}
                <h2>Данные покупателя</h2>
                <dl>
                    <dt>Город:</dt>
                    <dd>{{ order.cityName }}</dd>
                    {% if constant('AppBundle\\Enum\\OrderType::LEGAL') == order.typeCode and order.username is not empty %}
                    <dt>Организация:</dt>
                    <dd>{{ order.username }}</dd>
                    {% endif %}
                    {% if order.addresseename is not empty %}
                    <dt>Фамилия и имя:</dt>
                    <dd>{{ order.addresseename }}</dd>
                    {% endif %}
                    {% for contact in order.contacts %}
                        <dt>{{ contact.typeCodeName }}</dt>
                        {% if constant('AppBundle\\Enum\\ContactTypeCode::MOBILE') == contact.typeCode %}
                            <dd>{{ contact.value|phone_format }}</dd>
                        {% else %}
                            <dd>{{ contact.value }}</dd>
                        {% endif %}
                    {% endfor %}
                    {% if order.address %}
                        <dt>Адрес:</dt>
                        <dd>{{ order.address }}</dd>
                    {% endif %}
                </dl>
            {% endif %}
        </div>
         <div class="actions">
            {% if order.canBePayed and constant('AppBundle\\Enum\\PaymentTypeCode::SBERBANK') == order.paymentTypeCode and order.prepaymentAmount %}
                <div style="text-align: center;padding:2px 5px;margin-right:26px;background-color:yellow;color: green;font-size: 0.85em;font-weight:bold;">Оплачено {{ order.prepaymentAmount|price_format }} <span class="RUR" style="color: green;font-size: 0.85em;font-weight:normal;">Р</span></div>
            {% endif %}
            {% if order.canBePayed %}
                <div><a
                    data-url="{{ path('sberbank', { id: order.id }) }}"
                    rel="nofollow"
                    href="{{ path('sberbank', { id: order.id }) }}"
                    class="bttn green sberbank"
                    title="Оплатить позиции, наличие которых подтверждено менеджером">Оплатить</a></div>
            {% elseif constant('AppBundle\\Enum\\PaymentTypeCode::SBERBANK') == order.paymentTypeCode  %}{# and order.available_sum #}
                <div><a href="javascript:void(0)" class="bttn green disabled" title="Внимание! Заказ можно будет оплатить после подтверждения менеджером наличия товара">Оплатить</a>
                <p style="color:red;margin-top:10px">ВНИМАНИЕ! Товар можно будет оплатить только после того, как он будет обработан и зарезервирован! Вам поступит подтверждающее сообщение. </p></div>
            {% endif %}
            <a href="{{ path('repeat_order', { id: order.id }) }}" class="bttn blue repeat_order">Заказать повторно</a>
            {% if order.isCancelRequested and order.isCancelEnabled %}
                <p class="order-cancel-text">Ваш запрос на отмену заказа принят и будет обработан в ближайшее время</p>
            {% elseif order.isCancelEnabled %}
                <a
                    data-url="{{ path('cancel_request', { id: order.id }) }}"
                    rel="nofollow"
                    href="{{ path('cancel_request', { id: order.id }) }}"
                    class="bttn coral cancel_request"
                    title="Оплатить позиции, наличие которых подтверждено менеджером">Хочу отказаться</a>
            {% endif %}
        </div>
    </div>
    <div class="wrapper white">
        <h2>
            Состав заказа
            {% if constant('AppBundle\\Enum\\OrderItemStatus::CREATED') == order.statusCode %}
                <span style="font-size: 0.7em; font-weight: normal; vertical-align: top;">Внимание! Обращаем Ваше внимание, что окончательная стоимость заказа, будет подтверждена после обработки заказа сотрудником компании.</span>
            {% endif %}
        </h2>
        <div class="row">
            {% for item in order.items %}
                {% if not loop.first and loop.index % 3 == 1 %}
                    </div><div class="row border">
                {% endif %}
                <div class="product{% if loop.index % 3 %} border{% endif %}">
                    <a href="{{ path('catalog_product', { id: item.baseProductId }) }}" class="image">
                        <img src="{{ item|image(constant('AppBundle\\Enum\\BaseProductImage::SIZE_XS')) }}" alt="">
                    </a>
                    <p>
                        <a href="{{ path('catalog_product', { id: item.baseProductId }) }}">
                            {{ item.productName }}
                        </a>
                    </p>
                    <p>
                        {{ item.quantity }} шт
                        {% if constant('AppBundle\\Enum\\OrderType::RESUPPLY') != order.typeCode and constant('AppBundle\\Enum\\OrderType::EQUIPMENT') != order.typeCode and constant('AppBundle\\Enum\\OrderType::CONSUMABLES') != order.typeCode %}
                            <strong>
                                {{ item.retailPrice|price_format }}
                                <span class="RUR">Р</span>
                            </strong>
                        {% endif %}
                    </p>
                    {#if $position.price_changes && (!Model::factory('User')->get('is_wholesaler') || (Model::factory('User')->get('is_wholesaler') && $user.id != $order.user_id))}
                    {foreach from=$position.price_changes item=change}
                    <p>{$change.name} <strong>{$change.amount|price_format} <span class="RUR">Р</span></strong></p>
                    {/foreach}
                    {/if#}
                    <p>Код товара: {{ item.baseProductId }}</p>
                    <p>
                        Статус:
                        <strong>
                            <span class="{{ item.statusCode }}">{{ item.statusCodeName }}</span>
                        </strong>
                        {#if ($position.status_code=='IS_PROCESSED' || $position.status_code=='IS_PREPAYED' || $position.status_code=='IN_TRANSIT') && ($position.arriving_date || $position.delivery_date)}, будет {if $position.arriving_date}{$position.arriving_date|date_format:"%d %b"}{elseif $position.delivery_date}{$position.product_id|delivery_time:0:0:$position.warehouse_id}{else}{$position.product_id|delivery_time:0}{/if} *{/if#}
                    </p>
                </div>
            {% endfor %}
            {% set countEmptyBlocks = 3 - order.items|length % 3 %}
            {% if countEmptyBlocks < 3 %}
                {% for i in 0..countEmptyBlocks - 1 %}
                    <div class="product">&nbsp;</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<style type="text/css">
    .sber-unpaid {
        margin: 20px 0;
    }
    div[id^=Sberbank] strong {
        font-size: 1.1em;
    }
    div[id^=Sberbank] ol {
        list-style: decimal outside;
        color: #333;
        margin-top: 15px;
    }
    div[id^=Sberbank] li {
        margin-top: 25px;
    }
    div[id^=Sberbank] .info {
        color: #333;
        font-size: 1.2em;
        margin-bottom: 20px;
    }
</style>
