<div class="order-history block gray order-history-table">
    <div class="wrapper">
        <div class="column">
            <h2>
                Заказ №
                {% if app.userIsEmployee %}
                    <a href="{{ path('authority', { targetUrl: admin_host ~ '/admin/orders/' ~ order.id }) }}" target="_blank">{{ order.number }}</a>
                {% else %}
                    {{ order.number }}
                {% endif %}
                <span>от {{ order.createdAt|date_format('%d %B %Y')|replace({ 'нварь': 'нваря', 'евраль': 'евраля', 'арт': 'арта', 'прель': 'преля', 'ай': 'ая', 'юнь': 'юня', 'юль': 'юля', 'вгуст': 'вгуста', 'ентябрь': 'ентября', 'ктябрь': 'ктября', 'оябрь': 'оября', 'екабрь': 'екабря' })|replace({ 'аа': 'а' }) }}</span>
            </h2>
        </div>
        <div class="column">
            <dl>
                <dt>Способ оплаты:</dt><dd>{{ order.paymentTypeName }}</dd>
                {#% if order.discount %}
                    <dt>Скидка:</dt>
                    <dd>{{ order.discount|price_format }} <span class="RUR">Р</span></dd>
                {% endif %#}
            </dl>
        </div>
        <div class="column">
            {% if order.canBePayed and constant('AppBundle\\Enum\\PaymentTypeCode::SBERBANK') == order.paymentTypeCode and order.prepaymentAmount %}
                <div style="text-align: center;padding:2px 5px;margin-right:26px;background-color:yellow;color: green;font-size: 0.85em;font-weight:bold;">Оплачено {{ order.prepaymentAmount|price_format }} <span class="RUR" style="color: green;font-size: 0.85em;font-weight:normal;">Р</span></div>
            {% endif %}
            {% if order.canBePayed %}
                <a
                    data-url="{{ path('sberbank', { id: order.id }) }}"
                    rel="nofollow"
                    href="{{ path('sberbank', { id: order.id }) }}"
                    class="bttn green sberbank"
                    title="Оплатить позиции, наличие которых подтверждено менеджером">Оплатить сейчас</a>
            {% elseif constant('AppBundle\\Enum\\PaymentTypeCode::SBERBANK') == order.paymentTypeCode  %}{# and order.available_sum #}
                <a href="javascript:void(0)" class="bttn green disabled" title="Внимание! Заказ можно будет оплатить после подтверждения менеджером наличия товара">Оплатить</a>
                <p style="color:red;margin-top:10px">ВНИМАНИЕ! Товар можно будет оплатить только после того, как он будет обработан и зарезервирован! Вам поступит подтверждающее сообщение. </p>
            {% endif %}
            <a href="{{ path('repeat_order', { id: order.id }) }}" class="bttn blue repeat_order">Перезаказать</a>
            {% if order.isCancelRequested and order.isCancelEnabled %}
                <p class="order-cancel-text">Ваш запрос на отмену заказа принят и будет обработан в ближайшее время</p>
            {% elseif order.isCancelEnabled %}
                <a
                    data-url="{{ path('cancel_request', { id: order.id }) }}"
                    rel="nofollow"
                    href="{{ path('cancel_request', { id: order.id }) }}"
                    class="bttn coral cancel_request"
                    title="Оплатить позиции, наличие которых подтверждено менеджером">Отменить</a>
            {% endif %}
            {#<dl>
                <dt>Способ доставки:</dt>
                <dd>{$order.delivery_type}{if $order.delivery_type=='Курьерская' && $order.city_id==299} до проходной{/if}</dd>
                {if $order.delivery_type=='Транспортная компания'}
                    <dt>Название компании:</dt><dd>{$order.trading}</dd>
                    {if $order.trading_code}
                        <dt>Код груза:</dt><dd>{$order.trading_code}{if $order.trading_link}, <a href="{$order.trading_link}" onclick="window.open(this.href);return false;">проверить статус</a>{/if}</dd>
                    {/if}
                {elseif $order.delivery_type=='Почта России' && $order.trading_code}
                    <dt>Код груза:</dt><dd>{$order.trading_code}</dd>
                {elseif $order.delivery_type=='Курьерская' && $order.address}
                    <dt>Адрес:</dt><dd>{$order.address}</dd>
                {/if}
            </dl>#}
        </div>
    </div>
    <div class="wrapper white Cart" style="padding-left:25px;padding-right:25px;">
        <table style="margin-bottom:0;width: 100%">
            <thead>
                <tr>
                    <th style="width:100px">&nbsp;</th>
                    <th>Товар</th>
                    <th style="width:120px">Количество</th>
                    <th style="width:120px">Цена</th>
                    <th style="width:150px">Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items %}
                    <tr>
                        <td class="text">
                            <img src="{{ item|image(constant('AppBundle\\Enum\\BaseProductImage::SIZE_XS')) }}" alt="Фото товара {{ item.productName }}">
                        </td>
                        <td class="text">
                            <h6>
                                <a href="{% if item.sefUrl %}{{ path('catalog_product_sef', { slug: item.sefUrl }) }}{% else %}{{ path('catalog_product', { id: item.baseProductId }) }}{% endif %}">
                                    {{ item.productName }}
                                </a>
                            </h6>
                            <p class="code" style="color:#999">Код товара: {{ item.baseProductId }}</p>
                        </td>
                        {% set cssclass = constant('AppBundle\\Enum\\OrderItemStatus::CANCELED') == item.statusCode ? ' canceled' : '' %}
                        <td class="quantity{{ cssclass }}">{{ item.quantity }} шт</td>
                        <td class="price{{ cssclass }}">{{ item.retailPrice|price_format }} <span class="RUR">Р</span></td>
                        <td class="status">
                            <span class="{{ item.statusCode }}">{{ item.statusCodeName }}</span>
                            {% if item.statusCode == constant('AppBundle\\Enum\\OrderItemStatus::TRANSIT') or item.statusCode == constant('AppBundle\\Enum\\OrderItemStatus::STATIONED') or item.statusCode == constant('AppBundle\\Enum\\OrderItemStatus::SHIPPING') or item.statusCode == constant('AppBundle\\Enum\\OrderItemStatus::CALLABLE') or item.statusCode == constant('AppBundle\\Enum\\OrderItemStatus::PREPAYABLE') or item.statusCode == constant('AppBundle\\Enum\\OrderItemStatus::RESERVED') %},<p class="code" style="color:#999">ожидаем {{ item.deliveryDate|date_format('%e %B')|replace({ 'нварь': 'нваря', 'евраль': 'евраля', 'арт': 'арта', 'прель': 'преля', 'ай': 'ая', 'юнь': 'юня', 'юль': 'юля', 'вгуст': 'вгуста', 'ентябрь': 'ентября', 'ктябрь': 'ктября', 'оябрь': 'оября', 'екабрь': 'екабря' })|replace({ 'аа': 'а' }) }} *</p>
                            {% endif %}
                        </td>
                        <td>
                        </td>
                    </tr>
                    {#if $position.price_changes}
                        {foreach from=$position.price_changes item=change}
                            <tr>
                                <td></td>
                                <td class="text{if $position.status_code=='IS_CANCELED'} IS_CANCELED{/if}">{if $order.user_id!=$user.id && (!$user.phone or $order.phone!=$user.phone)}<h6>{$change.name}</h6>{/if}</td>
                                <td></td>
                                <td class="price{if $position.status_code=='IS_CANCELED'} IS_CANCELED{/if}">{if !Model::factory('User')->isRole('USER_WHOLESALER')}{$change.amount|price_format} <span class="RUR">Р</span>{/if}</td>
                                <td class="status">

                                </td>
                            </tr>
                        {/foreach}
                    {/if#}
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td><strong>Итого</strong></td>
                    <td class="price" style="font-size: 24px;white-space: nowrap">
                        {{ order.amount|price_format }} <span class="RUR">Р</span>
                    </td>
                    <td colspan="2">

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
