<fieldset class="block">
    <div class="wrapper">
        <h2>Точка</h2>
        {% for choice in form.geoPointId.vars.choices %}
        <div class="row v">
            <label for="{{ form.geoPointId.vars.id }}_{{ choice.value }}">
                {{ choice.label }}
                <input type="radio" id="{{ form.geoPointId.vars.id }}_{{ choice.value }}" name="{{ form.geoPointId.vars.full_name }}" value="{{ choice.value }}" required="required"{% if (choice.value == form.geoPointId.vars.value)  %} checked="checked"{% endif %} />
            </label>
        </div>
        {% endfor %}
    </div>
</fieldset>
