<fieldset class="block">
    <div class="wrapper">
        <h2>Контактная информация</h2>

        {% if (constant('AppBundle\\Enum\\OrderType::LEGAL') == form.typeCode.vars.value) %}
        <div class="row h{% if errors.userData.position is defined %} error{% endif %}">
            {{ form_label(form.userData.position, 'Должность:') }}
            {{ form_widget(form.userData.position, { attr: { class: 'txt' }}) }}
            <span class="status"></span>
            {% if errors.userData.position is defined %}
                <div class="error">{{ errors.userData.position.0 }}</div>
            {% endif %}
        </div>
        {% endif %}

        <div class="row h{% if errors.userData.fullname is defined %} error{% endif %}" style="position: relative">
            <label for="{{ form.userData.fullname.vars.id }}">
                Ф.И.О. <b>*</b>
            </label>
            {{ form_widget(form.userData.fullname, { attr: { class: 'txt' ~ (app.userIsEmployee ? ' autocomplete' : ''), placeholder: 'Фамилия Имя Отчество' }})  }}
            <span id="lfsHelp" onclick="$('#create_form_fullname').focus()">Фамилия Имя Отчество</span>
            <span class="status"></span>
            {% if errors.userData.fullname is defined %}
                <div class="error">{{ errors.userData.fullname.0 }}</div>
            {% endif %}
            {{ form_widget(form.userData.userId) }}
            {{ form_widget(form.userData.comuserId) }}
            <div class="notice">Достаточно указать имя.</div>
        </div>

        <div class="row h{% if error.userData.phone is defined %} error{% endif %}">
            <label for="{{ form.userData.phone.vars.id }}">
                Телефон <b>*</b>
            </label>
            {{ form_widget(form.userData.phone, { attr: { class: 'txt' ~ (app.userIsEmployee ? ' autocomplete' : '') }}) }}
            <span class="status"></span>
            {% if errors.userData.phone is defined %}
                <div class="error">{{ errors.userData.phone.0 }}</div>
            {% endif %}
            <div class="notice"><b>Внимание!</b> Вам необходимо указать федеральный номер, чтобы получать информацию о статусе и сроках доставки вашего заказа.<br/>Пример: +7 (963) 100&ndash;44&ndash;55.</div>
        </div>

        <div class="row h{% if error.userData.additionalPhone is defined %} error{% endif %}">
            {{ form_label(form.userData.additionalPhone, 'Дополнительный телефон:') }}
            {{ form_widget(form.userData.additionalPhone, { attr: { class: 'txt' }}) }}
            <span class="status"></span>
            {% if errors.userData.additionalPhone is defined %}
                <div class="error">{{ errors.userData.additionalPhone.0 }}</div>
            {% endif %}
            <div class="notice">Поле заполняется в случае отсутствия мобильного телефона или при желании оставить запасные номера.</div>
        </div>

        <div class="row h{% if error.userData.email is defined %} error{% endif %}">
            {{ form_label(form.userData.email, 'Email:') }}
            {{ form_widget(form.userData.email, { attr: { class: 'txt' }}) }}
            <span class="status"></span>
            {% if errors.userData.email is defined %}
                <div class="error">{{ errors.userData.email.0 }}</div>
            {% endif %}
            <div class="notice">На этот адрес мы будет высылать уведомления о вашем заказе.</div>
        </div>

        {% if not(app.userIsEmployee) and (app.user is null or not(app.user.isMarketingSubscribed)) %}
        <div class="row h" style="padding-top:0">
            <label class="inline notice">
                Получать уведомления о сезонных распродажах
                {{ form_widget(form.isMarketingSubscribed) }}{# commercial promotional advertising marketing #}
            </label>
        </div>
        {% endif %}

        {% if app.userIsEmployee and app.userIsEmployee %}
        <div class="row h" style="padding-top:0">
            <label>
                Отключить системные оповещения о статусах для заказа
                {{ form_widget(form.isTranscationalSubscribed) }}{# transactional system #}
            </label>
        </div>
        {% endif %}
        <label class="inline"><b>*</b> — поля обязательные для заполнения</label>
    </div>
</fieldset>
