<div class="row subrow h">
    <label for="{{ form.passport.seria.vars.id }}">
        Паспорт: <b>*</b>
    </label>
    <span class="col w80 passport_series">
        {{ form_widget(form.passport.seria, { attr: { class: 'txt', maxlength: 4 }}) }}
        <div class="notice">Серия</div>
        <span class="status"></span>
    </span>
    <span class="col w100">
        {{ form_widget(form.passport.number, { attr: { class: 'txt', maxlength: 6 }}) }}
        <div class="notice">Номер</div>
        <span class="status"></span>
    </span>
    <span class="col w160 passport_date">
        {{ form_widget(form.passport.issuedAt, { attr: { class: 'txt datepicker' }}) }}
        <div class="notice">Дата выдачи (ДД.ММ.ГГГГ)</div>
        <span class="status"></span>
    </span>
    {% if errors.passport.seria is defined %}
        <div class="error">{{ errors.passport.seria.0 }}</div>
    {% endif %}
    {% if errors.passport.number is defined %}
        <div class="error">{{ errors.passport.number.0 }}</div>
    {% endif %}
    {% if errors.passport.issuedAt is defined %}
        <div class="error">{{ errors.passport.issuedAt.0 }}</div>
    {% endif %}
    <div class="notice">*Заполнение паспортных данных является требованием транспортной компании</div>
</div>
