{{ form_start(form, { action: '', attr: { id: 'order-creation-form', class: 'w60p validate' }}) }}
{% include 'Order/order_type.html.twig' %}
{% include 'Order/order_contact_info.html.twig' %}
{% include 'Order/delivery_type.html.twig' %}
{% include 'Order/payment_type.html.twig' %}
{#
<div class="row h{% if errors.address is defined %} error{% endif %}">
    {{ form_label(form.address, 'Адрес*:') }}
    {{ form_widget(form.address, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    <div class="notice">регион/район, населенный пункт и улица*</div>
    {% if command.structuredAddress is not empty %}
        <div class="notice">Структурированный адрес: <b>{{ command.structuredAddress }}</b></div>
    {% endif %}
    {% if errors.address is defined %}
        <div class="error">{{ errors.address.0 }}</div>
    {% endif %}
</div>

{% if command.variants is iterable %}
    <div class="row h{% if errors.variant is defined %} error{% endif %}">
        <div class="inline-h">
            {% for index, variant in command.variants %}
                <input
                    type="radio"
                    id="add_address_variant_{{ index }}"
                    name="add_address[variant]"
                    value="{{ index }}"
                />
                <label for="add_address_variant_{{ index }}">{{ variant }}</label>
                {% if not loop.last %}<br />{% endif %}
            {% endfor %}
        </div>
        <span class="status"></span>
        {% if errors.variant is defined %}
            <div class="error">{{ errors.variant.0 }}</div>
        {% endif %}
    </div>
{% endif %}

<div class="row h{% if errors.house is defined or errors.floor is defined %} error{% endif %}">
    <div class="col w80">
        {{ form_widget(form.house, { attr: { class: 'txt' }}) }}
        <div class="notice">дом*</div>
    </div>
    <div class="col w80">
        {{ form_widget(form.building, { attr: { class: 'txt' }}) }}
        <div class="notice">корпус</div>
    </div>
    <div class="col w80">
        {{ form_widget(form.apartment, { attr: { class: 'txt' }}) }}
        <div class="notice">квартира</div>
    </div>
    <div class="col w80">
        {{ form_widget(form.floor, { attr: { class: 'txt' }}) }}
        <div class="notice">этаж</div>
    </div>
    <div class="col w150 inline-h" style="padding-top:10px">
        {{ form_widget(form.hasLift) }}
        {{ form_label(form.hasLift, 'Есть лифт') }}
    </div>
    <span class="status"></span>
    {% if errors.house is defined %}
        <div class="error">{{ errors.house.0 }}</div>
    {% elseif errors.floor is defined %}
        <div class="error">{{ errors.floor.0 }}</div>
    {% endif %}
</div>

<div class="row h">
    {{ form_label(form.comment, 'Комментарий:') }}
    {{ form_widget(form.comment, { attr: { class: 'txt' }}) }}
</div>

<div class="row h">
    <div class="inline-h">
        {{ form_widget(form.isMain) }}
        {{ form_label(form.isMain, 'Основной') }}
    </div>
</div>

<div class="row h">
    {{ form_widget(form.submit, { label: 'Сохранить', attr: { class: 'bttn green' }}) }}
    {{ form_widget(form._token) }}
</div> #}
{% include 'Order/order_submit.html.twig' %}

{{ form_end(form, { render_rest: false }) }}
