<div class="column details">
    {% if brand or baseProduct.model or baseProduct.details is defined and baseProduct.details is not empty %}
        {% if details is defined and details is not empty %}
            <h2>Краткие характеристики</h2>
        {% else %}
            <h2>Основные характеристики</h2>
        {% endif %}
    {% endif %}
    {% if brand %}
        <dl>
            <dt><span>Производитель</span></dt>
            <dd itemprop="brand">{{ brand.name }}</dd>
        </dl>
        {% if brand.url %}
            <dl>
                <dt><span>Сайт производителя</span></dt>
                <dd><a href="{{ brand.url|external_link }}" target="_blank" rel="nofollow">{{ brand.url }}</a></dd>
            </dl>
        {% endif %}
    {% endif %}
    {% if baseProduct.model %}
        <dl>
            <dt><span>Модель</span></dt>
            <dd>{{ baseProduct.model }}</dd>
        </dl>
    {% endif %}
    {% if baseProduct.details is defined and baseProduct.details is not empty %}
        {% for detail in baseProduct.details %}
            <dl>
                <dt><span>{{ detail.name }}{% if detail.unit %}, {{ detail.unit }}{% endif %}</span></dt>
                <dd>
                    {% if constant('AppBundle\\Enum\\DetailType::CODE_BOOLEAN') == detail.typeCode %}
                        {% if detail.value %}есть{% else %}нет{% endif %}
                    {% else %}
                        {{ detail.value }}
                    {% endif %}
                </dd>
            </dl>
            {% if loop.last and details|length > baseProduct.details|length %}
                <p class="all-details"><a href="#tab-details" class="ajax">все характеристики</a></p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!--noindex-->
    <h2 class="garanty_title">Гарантия</h2>
    <div class="content">
        <p>На каждый товар распространяется гарантия. Вы всегда сможете проконсультироваться с нашей службой поддержки по вопросу подключения и настройки купленного оборудования по телефону: <b>+7 (8412) 219–111</b>. Время работы: <b>Пн.–Пт. с 10:00 до 19:00</b>.</p>
    </div>
    <!--/noindex-->
</div>

{% set offerta = '
    <!--noindex-->
        <h3>Не является публичной офертой</h3>
        <div class="offer">
            <label><b>*</b></label> Внимание! Изображения товара, включая цвет, могут отличаться от реального внешнего вида. Комплектация также может быть изменена производителем без предварительного уведомления. Обращаем ваше внимание на то, что все приведенные выше характеристики товара и сроки поставки носят исключительно информационный характер и не являются публичной офертой, определенной пунктом 2 статьи 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о характеристиках данного товара, цене и сроках поставки обращайтесь, пожалуйста, к менеджерам компании Vseinet.ru, в Российское представительство или на официальные сайты Производителя данного товара.

            <p>Наличие товара и цены на него уточняйте у наших менеджеров.</p>
        </div>
    <!--/noindex-->
' %}

<div class="column description">
    {% if not baseProduct.description is empty %}
    <!--noindex-->
        <h2>Описание</h2>
        <div class="content" itemprop="description">
            {{ baseProduct.description|raw }}
        </div>
    <!--/noindex-->
    {% else %}
        <h2>Описание</h2>
        <div class="content" itemprop="description">
            Вы можете купить {{ baseProduct.name }} в нашем интернет-магазине Vseinet.ru по лучшей цене в г.{{ app.geoCity.name }}. Заказывайте онлайн, не выходя из дома!
        </div>
    {% endif %}
    {% if baseProduct.manufacturerLink or baseProduct.manualLink %}
        <h2>Информация на сайте производителя</h2>
        <div class="content">
            {% if baseProduct.manufacturerLink %}
                <p><a href="{{ baseProduct.manufacturerLink }}" rel="nofollow" target="_blank">Описание товара на сайте производителя</a></p>
            {% endif %}
            {% if baseProduct.manualLink %}
                <p><a href="{{ baseProduct.manualLink }}" rel="nofollow" target="_blank">Инструкция по эксплуатации</a></p>
            {% endif %}
        </div>
    {% endif %}
    {% if baseProduct.description is empty %}
        {{ offerta|raw }}
    {% endif %}
</div>
<div class="help">
    <strong>Затрудняетесь с выбором товара?</strong>
    <p>Мы поможем вам:</p>
    {#<ul>
        <li>{{ app.representative.phone1 }}</li>
        <li>{{ app.representative.phone2 }}</li>
        <li>{{ app.representative.phone3 }}</li>
    </ul>#}
</div>
{% if not baseProduct.description is empty %}
    <div class="offerta">
        {{ offerta|raw }}
    </div>
{% endif %}
