{% set isAvailable = constant('AppBundle\\Enum\\ProductAvailabilityCode::AVAILABLE') == baseProduct.availability %}
{% set isInTransit = constant('AppBundle\\Enum\\ProductAvailabilityCode::IN_TRANSIT') == baseProduct.availability %}
{% set isOnDemand = constant('AppBundle\\Enum\\ProductAvailabilityCode::ON_DEMAND') == baseProduct.availability %}
<div class="price-wrapper client">
    {% if isAvailable %}
        <del class="old_price">
            {{ baseProduct.price|discount_price|price_format }}
            <span class="RUR">Р</span>
        </del>
    {% endif %}
    {% if constant('AppBundle\\Enum\\ProductAvailabilityCode::OUT_OF_STOCK') != baseProduct.availability %}
    {% if baseProduct.price %}
        <strong
            class="price{% if isAvailable %} product-available{% endif %}"
            itemprop="offers"
            itemscope
            itemtype="http://schema.org/Offer"
        >
            {% if app.userIsEmployee %}
                <a
                    href="{{ path('product_set_price', { id: baseProduct.id }) }}"
                    class="icon set-price"
                    title="Установить ручную цену"
                >
                </a>
            {% endif %}
            <span class="price-value{% if app.userIsEmployee %} price-{{ baseProduct.priceTypeCode }}" title="{{ baseProduct.priceTypeName }}{% if baseProduct.isManualPrice %}, {{ baseProduct.priceChangedAt|date_format('%d.%m.%Y') }} {{ baseProduct.priceChangedBy }}{% endif %}{% endif %}">{{ baseProduct.price|price_format }}</span>
            <span class="RUR">Р</span>
            {% if app.userIsEmployee %}
                <a
                    href="{{ path('product_reset_price', { id: baseProduct.id }) }}"
                    class="icon reset-price{% if not baseProduct.isManualPrice %} hidden{% endif %}"
                    title="Сбросить ручную цену"
                >
                </a>
            {% endif %}
            <meta itemprop="price" content="{{ baseProduct.price|price_format({ ts: '' }) }}" />
            <meta itemprop="priceValidUntil" content="{{ "tomorrow"|date("Y-m-d") }}" />
            <meta itemprop="priceCurrency" content="RUB" />
            <meta
                itemprop="availability"
                content="https://schema.org/{% if isAvailable %}InStock{% elseif isOnDemand %}PreOrder{% else %}OutOfStock{% endif %}"
            >
            <meta itemprop="itemCondition" content="https://schema.org/NewCondition" />
            <a itemprop="url" rel="nofollow" href="{% if baseProduct.sefUrl %}{{ path('catalog_product_sef', { slug: baseProduct.sefUrl }) }}{% else %}{{ path('catalog_product', { id: baseProduct.id }) }}{% endif %}"></a>
        </strong>
    {% else %}
        <strong
            class="price help"
            title="товар участвует в акции, за более подробной информацией обращайтесь по тел. {{ app.representative.phone1 }}"
            itemprop="offers"
            itemscope
            itemtype="http://schema.org/Offer"
        >
            {% if app.userIsEmployee %}
                <a
                    href="{{ path('product_set_price', { id: baseProduct.id }) }}"
                    class="icon set-price"
                    title="Установить ручную цену"
                >
                </a>
            {% endif %}
            ???
            <meta itemprop="price" content="0" />
            <meta itemprop="priceValidUntil" content="{{ "tomorrow"|date("Y-m-d") }}" />
            <meta itemprop="priceCurrency" content="RUB" />
            <meta
                itemprop="availability"
                content="https://schema.org/{% if isAvailable %}InStock{% elseif isOnDemand %}PreOrder{% else %}OutOfStock{% endif %}"
            >
            <meta itemprop="itemCondition" content="https://schema.org/NewCondition" />
            <meta itemprop="url" content="{% if baseProduct.sefUrl %}{{ path('catalog_product_sef', { slug: baseProduct.sefUrl }) }}{% else %}{{ path('catalog_product', { id: baseProduct.id }) }}{% endif %}" />
        </strong>
    {% endif %}
    {% else %}
        <span
            itemprop="offers"
            itemscope
            itemtype="http://schema.org/Offer"
        >
            <meta itemprop="price" content="0" />
            <meta itemprop="priceValidUntil" content="{{ "tomorrow"|date("Y-m-d") }}" />
            <meta itemprop="priceCurrency" content="RUB" />
            <meta
                itemprop="availability"
                content="https://schema.org/OutOfStock"
            >
            <meta itemprop="itemCondition" content="https://schema.org/NewCondition" />
            <meta itemprop="url" content="{% if baseProduct.sefUrl %}{{ path('catalog_product_sef', { slug: baseProduct.sefUrl }) }}{% else %}{{ path('catalog_product', { id: baseProduct.id }) }}{% endif %}" />
        </span>
    {% endif %}
    <div class="availability product-{% if isAvailable %}available{% else %}unavaialble{% endif %}{% if baseProduct.minQuantity > 1 %} min-quantity{% endif %}"
        {# class="rating" #}
        data-rating="{{ baseProduct.estimate }}"
        {% if baseProduct.estimate %}
            itemprop="aggregateRating"
            itemscope
            itemtype="http://schema.org/AggregateRating"
        {% endif %}
    >
        {# <span>Рейтинг:</span>
        {% if baseProduct.estimate %}
            <meta itemprop="ratingValue" content="{{ baseProduct.estimate }}" />
            <meta itemprop="bestRating" content="5" />
            <meta itemprop="reviewCount" content="{{ baseProduct.countRreviews }}" />
        {% endif %} #}
    </div>
    {% if baseProduct.minQuantity > 1 and not isAvailable %}
        <div class="quantity product-{% if isAvailable %}available{% else %}unavaialble{% endif %} min-quantity">
            Мин. количество для заказа: {{ baseProduct.minQuantity }}
        </div>
    {% endif %}
</div>
<div class="sale-btns-wrapper">
    <div class="sale-btns to-cart">
        {% if app.userIsEmployee or isAvailable or isInTransit or isOnDemand %}
            {% if app.userIsEmployee %}
                <input
                    type="number"
                    class="cart-quantity"
                    value="{{ isAvailable ? 1 : baseProduct.minQuantity }}"
                    data-min-quantity="{{ isAvailable ? 1 : baseProduct.minQuantity }}"
                    min="{{ isAvailable ? 1 : baseProduct.minQuantity }}"
                >
            {% endif %}
            <a
                href="{{ path('cart_add', { id: baseProduct.id }) }}"
                {#onclick="yaCounter13639594.reachGoal('cartadd');return true;"#}
                class="bttn cart-add green"
                rel="nofollow"
            >
                Купить
            </a>
        {% else %}
            <a
                href="{{ path('order_receipts_of_product', { id: baseProduct.id }) }}"
                class="bttn greengray receipts-of-product"
                rel="nofollow"
            >
                Сообщить о поступлении
            </a>
        {% endif %}
        {% if 300000 < baseProduct.price %}
            <a
                href="{{ path('cart_add', { id: baseProduct.id }) }}"
                data-url="{{ path('credit_calculators', { id: baseProduct.id }) }}"
                class="bttn blue credit"
                rel="nofollow"
            >
                {% set credit = baseProduct.price*1.2582/24 %}
                Кредит от {{ credit|round(-2)|price_format }}
                <span class="RUR">Р</span> в мес.
            </a>
        {% else %}
            <a
                href="javascript:void(0)" class="bttn disabled"
                title="Оформление кредита возможно на товары стоимостью от 3 000 рублей"
                rel="nofollow"
            >
                Купить в кредит
            </a>
        {% endif %}
        {% if isAvailable or isOnDemand %}
            <a
                data-url="{{ path('cheaper_request', { id: baseProduct.id }) }}"
                class="bttn orange cheaper-request"
                href="#"
                rel="nofollow">
                Нашли дешевле?
            </a>
        {% else %}
            <a
                href="javascript:void(0)"
                class="bttn disabled"
                title="Товар отсутствует, его текущая цена может быть не актуальна при новом поступлении"
            >
                Нашли дешевле?
            </a>
        {% endif %}
    </div>
    <div class="sale-btns in-cart">
        <a href="{{ path('cart') }}" class="bttn green">Перейти в корзину</a>
    </div>
</div>
