{{ form_start(form, { action: path('login'), attr: { class: 'popup', title: 'Вход на сайт', id: 'Login' }}) }}
<div class="row">
    {{ form_label(form.username, 'Телефон* / Эл. почта:') }}
    {{ form_widget(form.username, { attr: { class: 'txt' }}) }}
    <div class="inline">* 10 цифр, например 9876543210</div>
</div>
<div class="row">
    {{ form_label(form.password, 'Пароль:') }}
    {{ form_widget(form.password, { attr: { class: 'txt' }}) }}
</div> 
<div class="row v">
    {{ form_widget(form.remember, { attr: { style: 'float:left;margin:3px 5px 0 0' } }) }}
    {{ form_label(form.remember, 'Запомнить меня', { label_attr: { class: 'inline' } }) }}
    <a href="{{ path('forgot') }}" data-popup="Forgot">Я забыл пароль</a>
</div>
<div class="row">
    {{ form_widget(form.submit, { label: 'Войти', attr: { class: 'bttn blue' }}) }}  
</div> 
<div class="row center socials">
    <p>Вход через социальные сети</p>
    <div class="oauth">
        <a href="#" class="oauth-login facebook" data-oauth-login="facebook"></a>
        <a href="#" class="oauth-login yandex" data-oauth-login="yandex"></a>
        <a href="#" class="oauth-login vkontakte" data-oauth-login="vk"></a>
        <a href="#" class="oauth-login odnoklassniki" data-oauth-login="odnoklassniki"></a>
    </div>
</div>
<div class="row center">
    или <a href="{{ path('registr') }}">Регистрация</a>
</div>
<div class="row loading">
</div>
{{ form_end(form) }}

