{{ form_start(form, { action: path('change_password'), attr: { id: 'change-password-form', novalidate: true }}) }}

{% if errors|length %}
    <div class="row h error-summary">
        <ul class="error">
            {% for error in errors %}
                <li>{{ error.0 }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="row h">
    {{ form_label(form.password, 'Старый пароль*:') }}
    {{ form_widget(form.password, { attr: { class: 'txt' }}) }}
</div>

<div class="row h">
    {{ form_label(form.newPassword, 'Новый пароль*:') }}
    {{ form_widget(form.newPassword, { attr: { class: 'txt' }}) }}
</div>

<div class="row h">
    {{ form_label(form.newPasswordConfirm, 'Повторите новый пароль*:') }}
    {{ form_widget(form.newPasswordConfirm, { attr: { class: 'txt' }}) }}
</div>

<div class="row h">
    {{ form_widget(form.submit, { label: 'Сохранить', attr: { class: 'bttn blue' }}) }}
    {{ form_widget(form._token) }}
</div>

{{ form_end(form) }}
