{{ form_start(form, { action: path('login'), attr: { title: 'Вход на сайт', id: 'login-form' }}) }}

<div class="row">
    {{ form_label(form._username, 'Телефон* / Эл. почта:') }}
    {{ form_widget(form._username, { attr: { class: 'txt' }}) }}
    <div class="inline">* 10 цифр, например 9876543210</div>
</div>

<div class="row">
    {{ form_label(form._password, 'Пароль:') }}
    {{ form_widget(form._password, { attr: { class: 'txt', value: '' }}) }}
</div> 

<div class="row v">
    {{ form_widget(form._remember_me, { attr: { style: 'float:left;margin:3px 5px 0 0' } }) }}
    {{ form_label(form._remember_me, 'Запомнить меня', { label_attr: { class: 'inline' } }) }}
    <a href="{{ path('forgot') }}">Я забыл пароль</a>
</div>

<div class="row error{% if not error %} hidden{% endif %}">
    <span class="error">Неверный логин или пароль</span>
</div>

<div class="row">
    {{ form_widget(form.submit, { label: 'Войти', attr: { class: 'bttn blue r' }}) }}  
</div> 

{#<div class="row center socials">
    <p>Вход через социальные сети</p>
    <div class="oauth">
        <a href="#" class="oauth-login facebook" data-oauth-login="facebook"></a>
        <a href="#" class="oauth-login yandex" data-oauth-login="yandex"></a>
        <a href="#" class="oauth-login vkontakte" data-oauth-login="vk"></a>
        <a href="#" class="oauth-login odnoklassniki" data-oauth-login="odnoklassniki"></a>
    </div>
</div>#}

<div class="row center">
    или <a href="{{ path('registr') }}">Регистрация</a>
    {{ form_widget(form._csrf_token) }}
</div>

<div class="row loading hidden"></div>

{{ form_end(form) }}

