{% extends "layout.html.twig" %}

{% block pageTitle %}
    Регистрация
{% endblock %}

{% block content %}
    <h1>Регистрация на сайте</h1>
    <div class="block gray w60p">
        <div class="wrapper">
        {% if app.user %}
            Вы уже зарегистрированы.
        {% else %}
            {{ form_start(form, { action: path('registr'), attr: { id: 'registr-form', novalidate: true }}) }}

            <div class="row h{% if errors.registr_lastname is defined %} error{% endif %}">
                {{ form_label(form.lastname, 'Фамилия*:') }}
                {{ form_widget(form.lastname, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.registr_lastname is defined %}
                    <div class="error">{{ errors.registr_lastname.0 }}</div>
                {% endif %}
            </div>

            <div class="row h{% if errors.registr_firstname is defined %} error{% endif %}">
                {{ form_label(form.firstname, 'Имя*:') }}
                {{ form_widget(form.firstname, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.registr_firstname is defined %}
                    <div class="error">{{ errors.registr_firstname.0 }}</div>
                {% endif %}
            </div>

            <div class="row h{% if errors.registr_secondname is defined %} error{% endif %}">
                {{ form_label(form.secondname, 'Отчество:') }}
                {{ form_widget(form.secondname, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.registr_secondname is defined %}
                    <div class="error">{{ errors.registr_secondname.0 }}</div>
                {% endif %}
            </div>

            <div class="row h{% if errors.registr_gender is defined %} error{% endif %}">
                {{ form_label(form.gender, 'Пол*:') }}
                <div class="gender">
                    {{ form_widget(form.gender) }}
                    <span class="status"></span>
                </div>
                {% if errors.registr_gender is defined %}
                    <div class="error">{{ errors.registr_gender.0 }}</div>
                {% endif %}
            </div>

            <div class="row h{% if errors.registr_birthday is defined %} error{% endif %}">
                {{ form_label(form.birthday, 'Дата рождения:') }}
                {{ form_widget(form.birthday, { attr: { class: 'txt datepicker' }}) }}
                <span class="status"></span>
                {% if errors.registr_birthday is defined %}
                    <div class="error">{{ errors.registr_birthday.0 }}</div>
                {% endif %}
            </div>

            <div class="row h{% if errors.registr_geoCityName is defined %} error{% endif %}">
                {{ form_label(form.geoCityName, 'Город*:') }}
                {{ form_widget(form.geoCityName, { attr: { class: 'txt', placeholder: 'Начните вводить город и выберите нужный из списка' }}) }}
                {% if errors.registr_geoCityName is defined %}
                    <div class="error">{{ errors.registr_geoCityName.0 }}</div>
                {% endif %}
            </div>

            <div class="row h{% if errors.registr_mobile is defined %} error{% endif %}">
                {{ form_label(form.mobile, 'Мобильный телефон:') }}
                {{ form_widget(form.mobile, { attr: { class: 'txt mobile' }}) }}
                <span class="status"></span>
                {% if errors.registr_mobile is defined %}
                    <div class="error">{{ errors.registr_mobile.0 }}</div>
                {% endif %}
                <div class="notice">
                    <b>Внимание!</b> Вам необходимо указать федеральный номер, чтобы получать информацию о статусе и сроках доставки вашего заказа. Пример: +7 (963) 100&ndash;445&ndash;55.
                </div>
            </div>

            <div class="row h">
                {{ form_label(form.phones, 'Дополнительные телефонные номера:') }}
                {{ form_widget(form.phones, { attr: { rows: 1, class: 'txt' }}) }}
                <span class="status"></span>
                <div class="notice">
                    В случае, если у вас отсутствует номер мобильного телефона или вы хотите оставить резервные телефонные номера, по которым мы могли бы с вами связаться, заполните поле «Дополнительные телефонные номера».
                </div>
            </div>

            <div class="row h{% if errors.registr_email is defined %} error{% endif %}">
                {{ form_label(form.email, 'Эл. почта*:') }}
                {{ form_widget(form.email, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.registr_email is defined %}
                    <div class="error">{{ errors.registr_email.0 }}</div>
                {% endif %}
                <div class="notice">
                    На этот адрес мы будет высылать уведомления о вашем заказе.
                </div>
            </div>

            <div class="row h">
                <div class="subscribe">
                    {{ form_widget(form.isMarketingSubscribed) }}
                    {{ form_label(form.isMarketingSubscribed, 'Получать уведомления о сезонных распродажах') }}
                </div>
            </div>

            <div class="row h{% if errors.registr_password is defined %} error{% endif %}">
                {{ form_label(form.password, 'Пароль*:') }}
                {{ form_widget(form.password, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.registr_password is defined %}
                    <div class="error">{{ errors.registr_password.0 }}</div>
                {% endif %}
            </div>

            <div class="row h{% if errors.registr_passwordConfirm is defined %} error{% endif %}">
                {{ form_label(form.passwordConfirm, 'Повторите пароль*:') }}
                {{ form_widget(form.passwordConfirm, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.registr_passwordConfirm is defined %}
                    <div class="error">{{ errors.registr_passwordConfirm.0 }}</div>
                {% endif %}
            </div>

            {% include 'User/is_human_form.html.twig' with { form: form, errors: errors } only %}

            <div class="row h">
                {{ form_widget(form.submit, { label: 'Зарегистрироваться', attr: { class: 'bttn green' }}) }}
                {{ form_widget(form.geoCityId) }}
                {{ form_widget(form._token) }}
            </div>

            {{ form_end(form)}}
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
$(function() {
    $('#registr_birthday').datepicker({
        changeMonth: true,
        changeYear: true,
        maxDate: "+0d",
        minDate: "01.01.1900",
        yearRange: "1900:+0",
    });
    Inputmask("+7 (999) 999-99-99").mask($('[name="registr[mobile]"]'));
    Inputmask("email").mask($('[name="registr[email]"]'));
});
</script>
{% endblock %}
