{% extends "SiteBundle::layout.html.twig" %}

{% block pageTitle %}
    Корзина / Интернет-магазин "Vseinet.ru"
{% endblock %}

{% block content %}
    <div class="breadcrumbs"> <a href="{{ path('catalog_category') }}">Каталог</a></div>
    <h1>
        Ваша корзина 
        <small>
            <span id="cart-total">{{ cart.total }}</span> {{ cart.total|declension('товар;товара;товаров') }} 
            {% if cart.total %}
                <a href="{{ path('cart_clear') }}" class="action bttn blue" tabindex="-1" style="margin-left:20px">
                    Очистить
                </a>
            {% endif %}
        </small>
    </h1>
    <form action="{{ path('cart') }}" method="post" class="Cart validate" id="Cart">
        {% include 'SiteBundle:Cart:page.html.twig' %}
    </form>
    {{ render(controller('SiteBundle:Main:getBlockLastview')) }}
{% endblock %}
{% block javascripts %}
<script>
    $(function() {
        var cart = $('#Cart')
            .form({
                submit: function(xhr) {
                    xhr.done(function(response) {
                        if (!response.errors)
                            cart.done(response);
                    });
                }
            });
        cart.done = function(response) {
            var total = response.cart.total, amount = 0, amountDiscount = 0;
            if (total) {
                $.each(cart.find('.cart-table-body .row'), function() {
                    var tr = $(this),
                        id = tr.data('id'),
                        product = response.cart.products[id];
                    if (product) {
                        if (product.priceDiscount && product.priceDiscount != product.price) {
                            tr.find('.price-amount').text(product.priceDiscount.formatPrice());
                            tr.find('.price-discount').html(product.price.formatPrice() + ' <span class="RUR">Р</span>');
                            tr.data('price', product.priceDiscount);
                        }
                        tr.find('.quantity .txt').val(product.quantity);
                        amount += product.price * product.quantity;
                        amountDiscount += product.priceDiscount * product.quantity;
                    } else {
                        tr.remove();
                    }
                });
            } else {
                cart.find('.cart-table').remove();
                cart.find('.order').addClass('invisible');
            }
            cart.find('.total').text(amount.formatPrice())
                .parent()[amount == amountDiscount ? 'hide' : 'show']();
            cart.find('.total-discount').text(amountDiscount.formatPrice());
            $('h1 small').text(total.declension('товар;товара;товаров'));
            sp.cartupdate(response);
        };
        cart.on('click', '.action', function() {
            var action = $(this);
            if (action.is('.delete') && !confirm('Вы уверены?')) {
                return false;
            }
            sp.get(action.prop('href')).done(cart.done);
            return false;
        });
        var timer = null;
        cart.on('keyup', '.quantity .txt', function() {
            var txt = $(this);
            clearTimeout(timer);
            timer = setTimeout(function() {
                txt.trigger('change');
            }, 1000);
        });
        cart.on('blur', '.quantity .txt', function() {
            clearTimeout(timer);
            var txt = $(this);
            // var set = txt.closest('.row').find('.set_conditioner_input:checked');
            sp.post(Routing.generate('cart_set_quantity', { id: txt.closest('.row').data('id') }), {
                quantity: txt.val(),
                set: set.length ? set.val() : 0,
            }).done(cart.done);
        });
        // cart.on('change', '.set_conditioner_input', function() {
        //     var val = $(this).val();
        //     var txt = $(this).parent().parent().parent().parent().parent().find('.quantity .txt');
        //     sp.post('/cart/changeSetConditioner/' + txt.closest('.row').data('id'), {
        //         quantity: txt.val(),
        //         set: val
        //     }).done(cart.done);
        // });
    });
</script>
{% endblock %}