{% if app.userIsEmployee %}
    <div class="admin-panel" data-id="{{ product.id }}">
        <div class="actions">
        {% if app.employeeRepresentative.type != constant('AppBundle\\Enum\\RepresentativeTypeCode::FRANCHISER') %}
            <a
                href="{{ path('authority', { targetUrl: '/admin/content/product/' ~ product.id }) }}"
                class="edit"
                target="_blank"
                title="Редактировать"
            ></a>
            <a href="{{ path('admin_product_merge') }}" class="merge" title="Объединить"></a>
            <a href="{{ path('admin_product_move', { id: product.id }) }}" class="move" title="Переместить"></a>
        {% endif %}
            <a href="javascript:void(0)" title="Цены конкурентов" class="competitor{% if product.competitorPrice > 0 %} {% if product.competitorPrice < product.price %}warning{% else %}ice{% endif %}{% endif %}"></a>
            <a
                href="{{ path('authority', { targetUrl: '/admin/orders?baseProduct[id]=' ~ product.id }) }}"
                class="orders"
                target="_blank"
                title="История заказов"
            ></a>
            <a
                href="{{ path('authority', { targetUrl: '/admin/goodsIssues?baseProductIdIn%5B0%5D=' ~ product.id }) }}"
                class="issues"
                target="_blank"
                title="Товар в претензиях"
            ></a>
            <a
                href="{{ path('authority', { targetUrl: '/admin/goodsReservesMovements?baseProductIdIn[0]=' ~ product.id }) }}"
                class="orders"
                target="_blank"
                title="История движений товара"
            ></a>
            {% if app.employeeRepresentative.type != constant('AppBundle\\Enum\\RepresentativeTypeCode::FRANCHISER') %}
                <a
                    href="{{ path('admin_toggle_burining_offer') }}"
                    class="burning-offer{% if not product.isBurningOffer %} inact{% endif %}"
                    target="_blank"
                    title="Горящий товар"
                ></a>
            {% endif %}
            {% if geoPoints[app.user.defaultGeoPointId]|default(null) is not null %}
                <span
                    class="pricetag{% if product.pricetagQuantity > 0 %} active{% endif %}"
                    title="Печать ценника"
                >
                </span>
                <input class="pricetag-quantity" type="text"
                    data-base-product-id="{{ product.id }}"
                    data-geo-point-id="141"
                    data-link="{{ path('toggle_pricetag') }}"
                    value="{{ product.pricetagQuantity }}" />
                <a
                    href="{{ path('authority', { targetUrl: '/admin/productPricetags'}) }}"
                    class="pricetag-print"
                    target="_blank"
                    title="Печать"
                >
                </a>
            {% endif %}
        </div>
        <div class="info-pane hidden">
            {% if app.employeeRepresentative.type != constant('AppBundle\\Enum\\RepresentativeTypeCode::FRANCHISER') %}
                <div class="supplier-remains loading competitors"></div>
            {% endif %}
            <div class="reserves loading competitors"></div>
            <div class="competitor-revisions loading competitors"></div>
            {% if app.userIsEmployee and constant('AppBundle\\Enum\\UserRole::ADMIN') in app.user.roles %}
                <div class="wholesaler-prices loading competitors"></div>
            {% endif %}
        </div>
    </div>
{% endif %}
