{% set snowflake %}
    {% if 'now'|date('m-d') >= '12-15' or 'now'|date('m-Y') == '01-15' %}
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-1" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-2" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-3" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-4" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-5" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-6" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-7" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-8" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-9" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-10" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-11" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-12" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-13" />
    </picture>
    <picture>
        <source srcset="/images/santa-hat.webp" type="image/webp" />
        <img src="/images/santa-hat.png" alt="Шапка Деда Мороза" class="santa-hat" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-14" />
    </picture>
    <picture>
        <source srcset="/images/snowflake.webp" type="image/webp" />
        <img src="/images/snowflake.png" alt="Снежинка" class="snowflake-15" />
    </picture>
    {% endif %}
{% endset %}


<div class="logo-area">
    <a href="{{ path('index') }}" class="logo">VSEINET.RU <p>все в одном месте</p>{{ snowflake }}</a>
    {% if app.request.pathInfo != '/' %}
        <a href="javascript:void(0)" id="tree-trigger" class="bttn tree-title">Каталог</a>
    {% endif %}
</div>

{% set geoCity = app.geoCity %}
{% set representative = app.representative %}
<ul class="location">
    <li><em>Ваш город</em></li>
    <li>
        <a
            href="javascript:void(0)"
            class="ajax city"
            data-id="City"
        >
            {{ geoCity.name }}
        </a>
        {% if geoCity.countGeoPoints %}
            и еще
            <a href="javascript:void(0)" class="ajax" data-id="City">
                {{ geoCity.countGeoPoints - 1 }} {{ (geoCity.countGeoPoints - 1)|declension('пункт;пункта;пунктов') }} по области
            </a>
        {% endif %}
    </li>
    <li class="phone">
        <strong>{{ representative.phone1 }}</strong>
        <br />
        {% if representative.phone2 %}
            <strong>{{ representative.phone2 }}</strong>
        {% endif %}
        <span class="time">
            <a href="{{ path('contacts_representative', { geoPointId: representative.geoPointId }) }}" data-schedule-from="{% if representative.scheduleFrom %}{{ representative.scheduleFrom|date('H:i:s') }}{% endif %}" data-schedule-to="{% if representative.scheduleTo %}{{ representative.scheduleTo|date('H:i:s') }}{% endif %}">
                {{ representative.schedule }}
            </a>
        </span>
    </li>
    <li>
        <a href="{{ path('contacts_page') }}" class="black address">Адреса магазинов</a>
        {% if geoCity.countNewGeoPoints %}
            <span class="new">
                +{{ geoCity.countNewGeoPoints }} {{ geoCity.countNewGeoPoints|declension('новый;новых') }}!
            </span>
        {% endif %}
    </li>
</ul>

<nav class="menu">
    <ul>
        <li><a href="{{ path('about_page') }}">О компании</a></li>
        <li><a href="{{ path('delivery_page') }}">Доставка</a></li>
        <li><a href="{{ path('content_page', { slug: 'payment' }) }}">Оплата</a></li>
        <li><a href="{{ path('content_page', { slug: 'garanty' }) }}">Гарантия</a></li>
        <li><a href="{{ path('content_page', { slug: 'credit' }) }}">Рассрочка и кредит</a></li>
        <li><a href="{{ path('contacts_page') }}">Контакты</a></li>
        <li><a href="{{ path('content_page', { slug: 'promo' }) }}">Акции</a></li>
    </ul>
</nav>

<form action="{{ url('catalog_search') }}" method="get" class="search">
    <div>
        <input
            type="text"
            class="txt"
            name="q"
            value="{{ app.request.query.get('q', '')|url_decode }}"
            placeholder="{{ render(controller('AppBundle:Search:getPlaceholder')) }}"
        />
        <button type="submit" class="bttn light">Найти</button>
        <div class="indicator"></div>
    </div>
</form>

<div class="skype">
    <span>
        <a class="contact no-phoning" href="#">+7 (963) 109-07-08</a>
        <a class="contact viber" href="viber://chat?number=79631090708"></a>
        <a class="contact whatsapp" href="whatsapp://send/?phone=79631090708"></a>
        <a class="contact telegram" href="tg://resolve?domain=Vseinet"></a>
        <a class="contact skype online" href="skype:vseinet?chat">vseinet</a>
    </span>
</div>
