{#% spaceless %#}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>{% block pageTitle %}{{ app.defaultPageTitle }}{% endblock %} / Интернет-магазин "Vseinet.ru"</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta description content="{% block pageDescription %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        {# <meta name="Cache-Control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0" /> #}
        {% block meta %}{% endblock %}
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ asset('bundles/styles.css') }}" media="all" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="page">
            <aside id="top" class="smpl-container">
                <div class="holder">
                    {% include 'top.html.twig' %}
                </div>
            </aside>
            <header id="header" class="smpl-container">
                <div class="holder">
                    {% include 'header.html.twig' %}
                </div>
            </header>
            <div id="content" class="smpl-container">
                <div class="holder">
                    {% set flashNotices = app.session.flashBag.get('notice') %}
                    {% if flashNotices %}
                        <ul class="notice-block">
                            {% for flashNotice in flashNotices %}
                                <li>{{ flashNotice }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% set flashErrors = app.session.flashBag.get('error') %}
                    {% if flashErrors %}
                        <ul class="error-block">
                            {% for flashError in flashErrors %}
                                <li>{{ flashError }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <nav class="page_nav">
                {% block menu %}
                    {{ render(controller('AppBundle:Main:getMenu')) }}
                {% endblock %}
            </nav>
        </div>
        <footer id="page-footer" class="smpl-container">
            <div class="holder">
                {% include 'footer.html.twig' %}
            </div>
        </footer>
        {% if app.environment is same as('prod') %}{% include 'counters.html.twig' %}{% endif %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('bundles/libs.js') }}"></script>
        <script src="{{ asset('bundles/scripts.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
{#% endspaceless %#}
