{#% spaceless %#}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>{% block pageTitle %}{{ app.defaultPageTitle }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block pageDescription %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        {# <meta name="Cache-Control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0" /> #}
        {% block meta %}{% endblock %}
        <link rel="icon" href="{{ asset('favicon.svg') }}" type="image/svg" />
        <link rel="shortcut icon" href="{{ asset('favicon.svg') }}" type="image/svg" />
        <link rel="stylesheet" href="{{ asset('bundles/styles.css') }}" media="all" />
        <link rel="stylesheet" href="https://cdn.envybox.io/widget/cbk.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="page">
            <aside id="top" class="smpl-container">
                <div class="holder">
                    {% include 'top.html.twig' %}
                </div>
                {% if not app.user or not app.user.geoCityId %}
                    {% include 'geo.html.twig' %}
                {% endif %}
            </aside>
            <header id="header" class="smpl-container">
                <div class="holder">
                    {% include 'header.html.twig' %}
                </div>
            </header>
            <div id="content" class="smpl-container">
                <div class="holder">
                    {% set flashNotices = app.session.flashBag.get('notice') %}
                    {% if flashNotices %}
                        <ul class="notice-block">
                            {% for flashNotice in flashNotices %}
                                <li>{{ flashNotice }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% set flashErrors = app.session.flashBag.get('error') %}
                    {% if flashErrors %}
                        <ul class="error-block">
                            {% for flashError in flashErrors %}
                                <li>{{ flashError }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <nav class="page_nav">
                {% block menu %}
                    {{ render(controller('AppBundle:Main:getMenu')) }}
                {% endblock %}
            </nav>
        </div>
        <footer id="page-footer" class="smpl-container">
            <div class="holder">
                {% include 'footer.html.twig' %}
            </div>
        </footer>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/router.min.js') }}"></script>
        <script src="{{ asset('js/lazysizes.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('bundles/libs.js') }}"></script>
        <script src="{{ asset('bundles/scripts.js')}}"></script>
        {% if app.userIsEmployee %}
            <script>
            $(function() {
                $(document).on('click', '#clock-in-out', function(e){
                    e.preventDefault();
                    if (confirm($(this).hasClass('work') ? 'Выполнить выход?' : 'Выполнить вход?')) {
                        window.location.href = $(this).prop('href');
                    }
                });
            });
            </script>
        {% endif %}
        <script type="text/javascript" src="https://cdn.envybox.io/widget/cbk.js?cbk_code=fec7a2627ad534082af819c2377fff39" charset="UTF-8" async></script>
        {% block javascripts %}{% endblock %}
        {% if app.environment is same as('prod') %}{% include 'counters.html.twig' %}{% endif %}
        {% include 'profiler.html.twig' %}
    </body>
</html>
{#% endspaceless %#}
