<a href="#" class="mob-top-btn"></a>

{% if not app.userIsEmployee %}
    <a href="{{ path('complaint') }}" class="bttn light claim">Жалоба директору</a>
{% endif %}

<nav>
    {{ render(controller('AppBundle:Cart:getInfo')) }}
    {{ render(controller('AppBundle:Favorite:getInfo')) }}
    <a href="{{ path('order_status') }}" class="status" data-popup="status-form">Статус заказа</a>
    {% if app.userIsEmployee and not app.user.isFired %}
        {% if not app.user.ipAddress or app.user.ipAddress == app.request.clientIp %}
            <a
                href="{{ path('clockin') }}"
                id="clock-in-out"
                class="{% if app.user.clockInTime %}work{% else %}rest{% endif %}"
                title="{% if app.user.clockInTime %}{{ app.user.clockInTime|date('H:i') }}{% endif %}"
            >
            </a>
        {% endif %}
        {% if app.user.isContenter %}
            {# brocken url #}
            <a href="/content/stats/full" class="employee-statistics">Статистика</a>
            {# brocken url #}
        {% endif %}
        <a
            href="{{ path('authority', { targetUrl: '/admin' }) }}"
            class="employee-cabinet"
            title="Личный кабинет сотрудника"
        >
            ЛК сотрудника
        </a>
    {% endif %}
</nav>

<div class="auth">
    {% if app.user %}
        <a href="{{ path('user_account') }}">{{ app.user.person.firstname }}</a> | <a href="{{ path('order_history') }}">Заказы</a> | <a href="{{ logout_path() }}">Выйти</a>
    {% else %}
        <a href="{{ path('login') }}" id="login-form-trigger">Вход</a> или <a href="{{ path('registr') }}">регистрация</a>
    {% endif %}
</div>

<div class="mobile-collapsed">
    <div class="auth">
        {% if app.user %}
            <a href="{{ path('user_account') }}">{{ app.user.person.firstname }}</a> | <a href="{{ logout_path() }}">Выйти</a>
        {% else %}
            <a href="{{ path('login') }}">Вход</a> или <a href="{{ path('registr') }}">регистрация</a>
        {% endif %}
    </div>
    <nav class="mobile-top-menu">
        <ul>
            <li><a href="{{ path('about_page') }}">О компании</a></li>
            <li><a href="{{ path('delivery_page') }}">Доставка</a></li>
            <li><a href="{{ path('content_page', { slug: 'payment' }) }}">Оплата</a></li>
            <li><a href="{{ path('content_page', { slug: 'garanty' }) }}">Гарантия</a></li>
            <li><a href="{{ path('content_page', { slug: 'credit' }) }}">Рассрочка и кредит</a></li>
            <li><a href="{{ path('contacts_page') }}">Контакты</a></li>
            <li><a href="{{ path('content_page', { slug: 'promo' }) }}">Акции</a> <span style="color: red; font-size: 11px; vertical-align: sub;">new</span></li>
        </ul>
    </nav>
    {% if app.userIsEmployee %}
        <div style="margin-bottom: 10px; margin-top: -10px;">
            {% if app.user.isContenter %}
                <a href="/content/stats/full">Статистика</a>
            {% else %}
                <a href="/admin/org/lockscreen" title="Личный кабинет сотрудника">ЛК сотрудника</a>
            {% endif %}
        </div>
    {% endif %}
    <a href="{{ path('complaint') }}" class="bttn light claim">Жалоба директору</a>
    <a href="{{ path('content_page', { slug: 'partnership' }) }}#wholesale" class="bttn intro wholesalers">Оптовикам</a>
    <a href="{{ path('content_page', { slug: 'partnership' }) }}#franchising" class="bttn intro franchising">Франчайзинг</a>
    {% set geoCity = app.geoCity %}
    {% set representative = app.representative %}
    <ul class="location">
        <li><em>Ваш город</em></li>
        <li>
            <a href="javascript:void(0)" class="ajax city" data-id="City" data-rid="{{ geoCity.geoRegionId }}" data-cid="{{ geoCity.id }}">
                {{ geoCity.name }}
            </a>
            {% if geoCity.countGeoPoints %}
                и еще <a href="javascript:void(0)" class="ajax" data-id="City">
                    {{ geoCity.countGeoPoints - 1 }}
                    {{ (geoCity.countGeoPoints - 1)|declension('пункт;пункта;пунктов') }} по области
                </a>
            {% endif%}
        </li>
        <li class="phone">
            <strong>8 {{ representative.phone1 }}</strong>
            <br />
            <strong>8 {{ representative.phone2 }}</strong>
            <span class="time">
                <a href="{{ path('contacts_representative', { geoPointId: representative.geoPointId }) }}">
                    {{ representative.schedule }}
                </a>
            </span>
        </li>
        <li>
            <a href="{{ path('contacts_page') }}" class="black address">Адреса магазинов</a>
            {% if geoCity.countNewGeoPoints %}
                <span class="new">
                    +{{ geoCity.countNewGeoPoints }}
                    {{ geoCity.countNewGeoPoints|declension('новый!;новых!') }}
                </span>
            {% endif %}
        </li>
    </ul>
</div>
