{% if geoCityCentral is not null %}
    <div class="city central{% if geoCityCentral.isCurrent %} current{% endif %}" data-id="{{ geoCityCentral.id }}">
        <a href="javascript:void(0)" class="ajax">
            {{ geoCityCentral.name }}
        </a>
    </div>
{% endif %}
{% for group in geoCityGroups %}
    <div class="column">
        {% for letter, geoCities in group %}
            <div class="letter">{{ letter }}</div>
            {% for geoCity in geoCities %}
                <div class="city{% if geoCity.isCurrent %} current{% endif %}" data-id="{{ geoCity.id }}">
                    <a href="javascript:void(0)" class="ajax">
                        {{ geoCity.name }}
                    </a>
                    {% if geoCity.hasRetail %}
                        <img class="has-retail-ico" src="/images/office.png" title="Есть представительство" alt="Представительство"/>
                    {% elseif geoCity.hasDelivery %}
                        <span class="point-ico" title="Возможна курьерская доставка"></span>
                    {% endif %}
                    {% if geoCity.countNewPoints %}
                        <span class="new_point">новая!</span>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endfor %}
