<div class="popup" title="Выберите ваш город" data-min-width="860" id="City">
    <p>В зависимости от выбранного города, на странице товара и в корзине будут отображаться стоимость и сроки доставки.</p>
    <div class="title current">{{ app.geoCity.name }}</div>
    <form action="{{ path('search_geo_city') }}" method="post">
        <div class="row">
            <input type="text" name="q" value="" class="txt" placeholder="Выберите ваш город" />
        </div>
    </form>
    <table>
        <tr>
            <td class="regions">
                <div>
                    {% set geoRegionId = app.geoCity.geoRegionId %}
                    {% for geoRegion in geoRegions %}
                        <div class="region{% if geoRegion.id == geoRegionId %} current{% endif %}" data-id="{{ geoRegion.id }}">
                            <a href="javascript:void(0)" class="ajax">{{ geoRegion.name }} {{ geoRegion.unit }}</a>
                        </div>
                    {% endfor %}
                </div>
            </td>
            <td class="cities">
                <div>
                    {% include 'Geo/cities_block.html.twig' %}
                </div>
            </td>
        </tr>
    </table>
</div>
