{% if geoCityCentral is defined %}
    <H3 class="city central{% if geoCityCentral.isCurrent %} current{% endif %}">
        <a href="{{ path('set_geo_city', { id : geoCityCentral.id }) }}" class="ajax">
            {{ geoCityCentral.name }}
        </a>
    </H3>
{% endif %}
{% for group in geoCityGroups %}
    <div class="column">
        {% for geoCities, letter in group %}
            <div class="letter">{{ letter }}</div>
            {% for geoCity in geoCities %}
                <div class="city{% if geoCity.isCurrent %} current{% endif %}">
                    <a href="{{ path('set_geo_city', { id : geoCity.id }) }}" class="ajax">
                        {{ geoCity.name }}
                    </a>
                    {% if geoCity.hasRetail %}
                        <img style="opacity:0.9;cursor:help;" src="/media/images/office.png" title="Есть точка самовывоза" alt=""/>
                    {% elseif geoCity.hasDelivery %}
                        <span class="point-ico" title="Есть курьерская доставка"></span>
                    {% endif %}
                    {% if geoCity->countNewPoints %}
                        <span class="new_point">новая!</span>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endfor %}