<div class="row subrow h"{% if errors.geoAddress.postalCode is defined or errors.geoAddress.geoStreetId is defined or errors.geoAddress.house is defined or errors.geoAddress.apartment is defined %} error{% endif %}>
    {{ form_label(form.geoAddress.geoStreetName, 'Адрес*:') }}
    <div class="col w100">
        {{ form_widget(form.geoAddress.postalCode, { attr: { class: 'txt' }}) }}
        <div class="notice">Индекс</div>
    </div>
    <div class="col w150">
        {{ form_widget(form.geoAddress.geoStreetName, { attr: { class: 'txt autocomplete' }}) }}
        {{ form_widget(form.geoAddress.geoStreetId) }}
        <div class="notice">Улица</div>
    </div>
    <div class="col w60">
        {{ form_widget(form.geoAddress.house, { attr: { class: 'txt' }}) }}
        <div class="notice">Дом</div>
    </div>
    <div class="col w60">
        {{ form_widget(form.geoAddress.building, { attr: { class: 'txt' }}) }}
        <div class="notice">Строение</div>
    </div>
    <div class="col w60">
        {{ form_widget(form.geoAddress.apartment, { attr: { class: 'txt' }}) }}
        <div class="notice">Квартира</div>
        <span class="status"></span>
        {% if errors.geoAddress.geoStreetId is defined %}
            <div class="error">{{ errors.geoAddress.geoStreetId.0 }}</div>
        {% elseif errors.geoAddress.postalCode is defined %}
            <div class="error">{{ errors.geoAddress.postalCode.0 }}</div>
        {% elseif errors.geoAddress.house is defined %}
            <div class="error">{{ errors.geoAddress.house.0 }}</div>
        {% elseif errors.geoAddress.apartment is defined %}
            <div class="error">{{ errors.geoAddress.apartment.0 }}</div>
        {% endif %}
    </div>
</div>
