{% extends "layout.html.twig" %}

{% block pageTitle %}Контакты представительства в {{ representative.geoCityName }} в интернет-магазине Vseinet.ru{% endblock %}

{% block pageDescription %}На этой странице представлены телефоны, расписание работы и адрес представительства в {{ representative.geoCityName }} в интернет-магазине Vseinet.ru{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <a href="/contacts">Контакты</a>
</div>
<div itemscope itemtype="http://schema.org/ElectronicsStore">
<h1 itemprop="name">Vseinet.ru &laquo;{{ representative.geoPointName }}&raquo;</h1>
<h2>Адрес</h2>
<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">{{ representative.geoCityName }}</span>{% if representative.address %}, <span itemprop="streetAddress">{{ representative.address }}</span>{% endif %}</p><br/>
<div itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
    <meta itemprop="latitude" content="{{ representative.latitude }}" />
    <meta itemprop="longitude" content="{{ representative.longitude }}" />
  </div>
<h2>Телефон</h2>
<p>
    {% for phone in representative.phones %}
        <span itemprop="telephone">{{ phone.value }}</span>{% if not loop.last %},{% endif %}
    {% endfor %}
</p>
<br/>

<h2>График работы</h2>
<table class="schedule" itemprop="openingHours" datetime="{{ representative.fullSchedule }}">
    <tr>
        {% for day in ['пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс'] %}
            <td>{{ day }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for schedule in representative.schedule %}
            <td colspan="{{ schedule.count }}">{{ schedule.time }}</td>
        {% endfor %}
    </tr>
</table>
<br/>

<h2>Процесс оформления заказа</h2>
<p>
    1) Вы можете оформить заказ через наш сайт или по указанным телефонам.<br/>
    2) В течение суток с вами свяжется менеджер и сообщит точную информацию по наличию и срокам доставки, конечную стоимость товара, а также необходимо ли вам будет вносить предоплату и способы ее внесения.
</p>

<div class="content">
    <p>
        {% for photo in representative.photos %}
            <span itemscope itemtype="http://schema.org/ImageObject">
            <img src="{{ uploads_domain }}/contacts/{{ photo.url }}" alt="Фото №{{ loop.index }} представительства в г.{{ representative.geoCityName }}" itemprop="contentUrl" />
            </span>
            {% if loop.index % 2 == 1 %}
                &nbsp;
            {% endif %}
            {% if not loop.first and loop.index % 2 == 0 %}
                </p><p>
            {% endif %}
        {% endfor %}
    </p>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
    .schedule TD {
        border: 1px solid #ccc;
        padding: 3px 10px;
        text-align: center;
        vertical-align: middle;
    }
    .content {
        margin-top: 15px;
    }
</style>
{% endblock %}
