<div class="representative">
    <img src="{{ uploads_domain }}/contacts/{{ representative.geoPointId }}_p.jpg" alt="" />
    <h2>{{ representative.geoPointName }}</h2>
    <h4>{% if representative.hasRetail %}точка самовывоза{% else %}курьерская доставка{% endif %}</h4>
    <p class="address">
        {{ representative.geoCityName }}{% if representative.address %},{{ representative.address }}{% endif %}
    </p>
    <div class="phones">
        <p>тел.
            {% for phone in representative.phones %}
                {{ phone.value }}{% if not loop.last %},{% endif %}
            {% endfor %}
        </p>
    </div>
    <table class="schedule">
        <tr>
            {% for day in ['пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс'] %}
                <td>{{ day }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for schedule in representative.schedule %}
                <td colspan="{{ schedule.count }}">{{ schedule.time }}</td>
            {% endfor %}
        </tr>
    </table>
    <a href="{{ path('contacts_representative', { geoPointId: representative.geoPointId }) }}">Подробнее</a>
</div>
