{% extends "layout.html.twig" %}

{% block pageTitle %}Корзина{% endblock %}

{% block content %}
    <div class="breadcrumbs"> <a href="{{ path('catalog_category') }}">Каталог</a></div>
    <h1>
        Ваша корзина
        <small>
            <span id="cart-total">{{ cart.total }}</span> {{ cart.total|declension('товар;товара;товаров') }}
            {% if cart.total %}
                <a href="{{ path('cart_clear') }}" class="action bttn blue" tabindex="-1" style="margin-left:20px">
                    Очистить
                </a>
            {% endif %}
        </small>
    </h1>
    <form action="{{ path('cart') }}" method="port" class="Cart validate" id="Cart">
        {% include 'Cart/page.html.twig' %}
    </form>
    {{ render(controller('AppBundle:Main:getBlockLastview')) }}
{% endblock %}
{% block javascripts %}
<script>
    $(function() {
        var cart = $('#Cart')
            .form({
                submit: function(xhr) {
                    xhr.done(function(response) {
                        if (!response.errors)
                            cart.done(response);
                    });
                }
            });
        cart.done = function(response) {
            var total = response.cart.total, amount = 0, amountWithDiscount = 0;
            if (total) {
                if ($('[name=discountCode]').val().length && !response.cart.discountCodeId) {
                    $('.cupon .discount_error').css('display', 'inline');
                } else {
                    $('.cupon .discount_error').css('display', 'none');
                }
                $.each(cart.find('.cart-table-body .row'), function() {
                    var tr = $(this),
                        id = tr.data('id'),
                        product = response.cart.products[id];
                    if (product) {
                        if (product.priceWithDiscount && product.priceWithDiscount != product.price) {
                            tr.find('.price-amount').text(product.priceWithDiscount.formatPrice());
                            tr.find('.price-discount').html(product.price.formatPrice() + ' <span class="RUR">Р</span>');
                            tr.data('price', product.priceWithDiscount);
                        } else {
                            tr.find('.price-amount').text(product.price.formatPrice());
                            tr.find('.price-discount').html('');
                            tr.data('price', product.price);
                        }
                        tr.find('.quantity .txt').val(product.quantity);
                        amount += product.price * product.quantity;
                        amountWithDiscount += product.priceWithDiscount * product.quantity;
                    } else {
                        tr.remove();
                    }
                });
            } else {
                cart.find('.cart-table').remove();
                cart.find('.order').addClass('invisible');
            }
            cart.find('.total').text(amount.formatPrice())
                .parent()[amount == amountWithDiscount ? 'hide' : 'show']();
            cart.find('.total-discount').text(amountWithDiscount.formatPrice());
            $('h1 small').text(total.declension('товар;товара;товаров'));
            sp.cartupdate(response);
        };
        cart.on('click', '.action', function() {
            var action = $(this);
            if (action.is('.delete') && !confirm('Вы уверены?')) {
                return false;
            }
            sp.get(action.prop('href')).done(cart.done);
            return false;
        });
        var timer = null;
        cart.on('keyup', '.quantity .txt', function() {
            var txt = $(this);
            clearTimeout(timer);
            timer = setTimeout(function() {
                txt.trigger('change');
            }, 1000);
        });
        cart.on('blur', '.quantity .txt', function() {
            clearTimeout(timer);
            var txt = $(this);
            sp.get(Routing.generate('cart_set_quantity', { id: txt.closest('.row').data('id') }), {
                quantity: txt.val()
            }).done(cart.done);
        });
    });
</script>
{% endblock %}
