<div class="cart-table">
    <div class="cart-table-head row">
        <div class="coll-md-6">Товар</div>
        <div class="coll-md-3">Количество</div>
        <div class="coll-md-2">Цена</div>
        <div class="coll-md-1">&nbsp;</div>
    </div>
    <div class="cart-table-body">
        {% if cart.total %}
            {% for product in cart.products %}
                <div class="row" data-id="{{ product.id }}" data-price="{{ product.priceWithDiscount }}">
                    <div class="coll-md-6">
                        <div class="image">
                        <img
                            src="{{ product|image(constant('AppBundle\\Enum\\BaseProductImage::SIZE_SM')) }}"
                            alt="Фото {{ product.name }}. Интернет-магазин Vseinet.ru Пенза"
                        />
                        </div>
                        <div class="text">
                            <h6><a href="{% if product.sefUrl %}{{ path('catalog_product_sef', { slug: product.sefUrl }) }}{% else %}{{ path('catalog_product', { id: product.id }) }}{% endif %}">{{ product.name }}</a></h6>
                            <p class="code">
                                Код товара: {{ product.id }}
                                <span class="status
                                    {% if constant('AppBundle\\Enum\\ProductAvailabilityCode::AVAILABLE') == product.availabilityCode %} in-stock" style="height:auto;width:auto;margin-left:10px;font-size: 1.05em;font-weight: bold;">В наличии, доставка т.{% if app.geoCity.id != 1 %}8 (8412) {% endif %}290-708
                                    {% elseif constant('AppBundle\\Enum\\ProductAvailabilityCode::OUT_OF_STOCK') == product.availabilityCode %} not-available" style="height:auto;width:auto;margin-left:10px">Нет в продаже
                                    {% elseif constant('AppBundle\\Enum\\ProductAvailabilityCode::AWAITING') == product.availabilityCode %} on-order" style="height:auto;width:auto;margin-left:10px">Ожидается
                                    {% else %} on-order" style="height:auto;width:auto;margin-left:10px">Доставим {{ product.deliveryDate|date_format('%e %B')|replace({ 'нварь': 'нваря', 'евраль': 'евраля', 'арт': 'арта', 'прель': 'преля', 'ай': 'ая', 'юнь': 'юня', 'юль': 'юля', 'вгуст': 'вгуста', 'ентябрь': 'ентября', 'ктябрь': 'ктября', 'оябрь': 'оября', 'екабрь': 'екабря' })|replace({ 'аа': 'а' }) }}
                                    {% endif %}
                                </span>
                            </p>
                            {% if constant('AppBundle\\Enum\\ProductAvailabilityCode::AVAILABLE') != product.availabilityCode and 1 < product.minQuantity %}
                                <p style="color: rgb(242, 108, 79);">Мин. количество для заказа: {{ product.minQuantity }}</p>
                            {% endif %}
                            {% if '3014' == product.categoryId %}
                                <p title="Есть вопросы? Звоните по тел. 8 (8412) 290-708">Возможна установка!</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="quantity coll-md-3">
                        <a href="{{ path('cart_dec', { id: product.id }) }}" class="action dec" title="Уменьшить" tabindex="-1">&minus;</a>
                        <input type="text" value="{{ product.quantity }}" class="txt" />
                        <a href="{{ path('cart_inc', { id: product.id }) }}" class="action inc" title="Добавить" tabindex="-1">+</a>
                    </div>
                    <div class="price coll-md-2">
                        <span class="price-discount"></span>
                        <span class="price-amount">{{ product.priceWithDiscount|price_format }}</span>
                        <span class="RUR">Р</span>
                    </div>
                    <div class="btns coll-md-1">
                        <a href="{{ path('cart_to_favorite', { id: product.id }) }}" class="action favorite" title="Пемереместить в избранное" tabindex="-1">В избранное</a>
                        <a href="{{ path('cart_del', { id: product.id }) }}" class="action delete" title="Удалить" tabindex="-1">Удалить</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="summary">
    <a href="{{ path('catalog') }}" class="bttn light prev">Продолжить покупки <span class="hide">К покупкам</span><i></i></a>
    <div class="order{% if 0 == cart.total %} invisible{% endif %}">
        <a href="{{ path('order_creation_page') }}" class="bttn blue next"{# onclick="yaCounter13639594.reachGoal('order'); return true;"#}>
            Оформить заказ <span class="hide">Оформить</span>
        </a>
        <p>На следующем шаге вы выберете вариант доставки и оплаты.</p>
    </div>
    <div class="cupon">
        <del{% if cart.amount == cart.amountWithDiscount %} style="display:none"{% endif %}>
            <span class="total">{{ cart.amount|price_format }}</span> <span class="RUR">Р</span>
        </del>
        <strong>Сумма покупки: <span class="total-discount">{{ cart.amountWithDiscount|price_format }}</span> <span class="RUR">Р</span></strong>
        <label for="cart_discount_code">Код для получения скидки: <span class="discount_error" style="color:red;display:none">Введен не верный код</span></label>
        <p>
            <input type="text" class="txt" name="discountCode" id="cart_discount_code" value="{{ cart.discountCode }}" />
            <button type="submit" class="bttn light">Пересчитать</button>
        </p>
    </div>
</div>
