<div class="block gray account-info">
    <div class="wrapper">
        <h2>Персональные данные</h2>
        <dl>
            <dt>Фамилия:</dt>
            <dd>{{ account.info.lastname }}</dd>
            <dt>Имя:</dt>
            <dd>{{ account.info.firstname }}</dd>
            {% if account.info.secondname %}
                <dt>Отчество:</dt>
                <dd>{{ account.info.secondname }}</dd>
            {% endif %}
            {% if account.info.birthday %}
                <dt>Дата рождения:</dt>
                <dd>{{ account.info.birthday|date('d.m.Y') }}</dd>
            {% endif %}
            {% if account.info.gender %}
                <dt>Пол:</dt>
                <dd>{{ account.info.gender }}</dd>
            {% endif %}
            {% if account.info.cityName %}
                <dt>Город:</dt>
                <dd>{{ account.info.cityName }}</dd>
            {% endif %}
        </dl>
        <a href="{{ path('user_edit') }}" class="info-edit">Редактировать</a>
        <a href="{{ path('user_change_password') }}" class="change-password">Изменить пароль</a>
    </div>
</div>