{{ form_start(form, { attr: { id: 'address-form' }}) }}
<div class="row h{% if errors.address is defined %} error{% endif %}">
    {{ form_label(form.address, 'Адрес*:') }}
    {{ form_widget(form.address, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    {% if errors.address is defined %}
        <div class="error">{{ errors.address.0 }}</div>
    {% endif %}
</div>
<div class="row h">
    {{ form_label(form.comment, 'Комментарий:') }}
    {{ form_widget(form.comment, { attr: { class: 'txt' }}) }}
</div>
<div class="row h">
    <div class="inline-h">
        {{ form_widget(form.isMain) }}
        {{ form_label(form.isMain, 'Основной') }}
    </div>
</div>
<div class="row h">
    {{ form_widget(form.submit, { label: 'Сохранить', attr: { class: 'bttn green' }}) }} 
    {{ form_widget(form._token) }}
</div>
{{ form_end(form) }}