{{ form_start(form, { action: path('user_contact_add'), attr: { id: 'contact-form' }}) }}
<div class="row h{% if errors.typeCode is defined %} error{% endif %}">
    {{ form_label(form.typeCode, 'Тип*:') }}
    {{ form_widget(form.typeCode, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    {% if errors.typeCode is defined %}
        <div class="error">{{ errors.typeCode.0 }}</div>
    {% endif %}
</div>
<div class="row h{% if errors.value is defined %} error{% endif %}">
    {{ form_label(form.value, 'Контакт*:') }}
    {{ form_widget(form.value, { attr: { class: 'txt' }})  }}
    <span class="status"></span>
    {% if errors.value is defined %}
        <div class="error">{{ errors.value.0 }}</div>
    {% endif %}
</div>
<div class="row h{">
    {{ form_label(form.comment, 'Комментарий:') }}
    {{ form_widget(form.comment, { attr: { class: 'txt' }}) }}
</div>
<div class="row h">
    <div class="inline-h">
        {{ form_widget(form.isMain) }}
        {{ form_label(form.isMain, 'Основной') }}
    </div>
</div>
<div class="row h">
    {{ form_widget(form.submit, { label: 'Сохранить', attr: { class: 'bttn green' }}) }} 
    {{ form_widget(form._token) }}
</div>
{{ form_end(form) }}