{{ form_start(form, { action: path('user_change_password'), attr: { id: 'change-password-form' }}) }}
<div class="row h{% if errors.password is defined %} error{% endif %}">
    {{ form_label(form.password, 'Старый пароль*:') }}
    {{ form_widget(form.password, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    {% if errors.password is defined %}
        <div class="error">{{ errors.password.0 }}</div>
    {% endif %}
</div>
<div class="row h{% if errors.newPassword is defined %} error{% endif %}">
    {{ form_label(form.newPassword, 'Новый пароль*:') }}
    {{ form_widget(form.newPassword, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    {% if errors.newPassword is defined %}
        <div class="error">{{ errors.newPassword.0 }}</div>
    {% endif %}
</div>
<div class="row h{% if errors.newPasswordConfirm is defined %} error{% endif %}">
    {{ form_label(form.newPasswordConfirm, 'Повторите новый пароль*:') }}
    {{ form_widget(form.newPasswordConfirm, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    {% if errors.newPasswordConfirm is defined %}
        <div class="error">{{ errors.newPasswordConfirm.0 }}</div>
    {% endif %}
</div>
<div class="row h">
    {{ form_widget(form.submit, { label: 'Сохранить', attr: { class: 'bttn blue' }}) }}  
    {{ form_widget(form._token) }}
</div> 
{{ form_end(form) }}
