{{ form_start(form, { action: path('user_change_password'), attr: { id: 'change-password-form' }}) }}

{% if errors|length %}
    <div class="row h error-summary">
        <div class="error">
            {% for error in errors %}
                {{ error.0 }}
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="row h">
    {{ form_label(form.password, 'Старый пароль*:') }}
    {{ form_widget(form.password, { attr: { class: 'txt' }}) }}
</div>

<div class="row h">
    {{ form_label(form.newPassword, 'Новый пароль*:') }}
    {{ form_widget(form.newPassword, { attr: { class: 'txt' }}) }}
</div>

<div class="row h">
    {{ form_label(form.newPasswordConfirm, 'Повторите новый пароль*:') }}
    {{ form_widget(form.newPasswordConfirm, { attr: { class: 'txt' }}) }}
</div>

<div class="row h">
    {{ form_widget(form.submit, { label: 'Сохранить', attr: { class: 'bttn blue' }}) }}  
    {{ form_widget(form._token) }}
</div> 

{{ form_end(form) }}
