{% extends "AppBundle::layout.html.twig" %}

{% block pageTitle %}
    Регистрация
{% endblock %}

{% block content %}
    <h1>Регистрация на сайте</h1>
    <div class="block gray w60p">
        <div class="wrapper">

            {{ form_start(form, { action: path('user_registr'), attr: { id: 'registr-form' }}) }}
            
            {% set count =  errors|length %}
            {% if count %}
                <div class="row h error-summary">
                    <span class="error">
                        {{ count|declension('Обнаружена;Обнаружено')}}
                        {{ count }}
                        {{ count|declension('ошибка;ошибок')}}
                    </span>
                </div>
            {% endif %}

            <div class="row h{% if errors.lastname is defined %} error{% endif %}">
                {{ form_label(form.lastname, 'Фамилия*:') }}
                {{ form_widget(form.lastname, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.lastname is defined %}
                    <div class="error">{{ errors.lastname.0 }}</div>
                {% endif %}
            </div>    
            
            <div class="row h{% if errors.firstname is defined %} error{% endif %}">
                {{ form_label(form.firstname, 'Имя*:') }}
                {{ form_widget(form.firstname, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.firstname is defined %}
                    <div class="error">{{ errors.firstname.0 }}</div>
                {% endif %}
            </div>
            
            <div class="row h{% if errors.secondname is defined %} error{% endif %}">
                {{ form_label(form.secondname, 'Отчество:') }}
                {{ form_widget(form.secondname, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.secondname is defined %}
                    <div class="error">{{ errors.secondname.0 }}</div>
                {% endif %}
            </div>
            
            <div class="row h{% if errors.gender is defined %} error{% endif %}">
                {{ form_label(form.gender, 'Пол*:') }}
                <div class="gender">
                    {{ form_widget(form.gender) }}
                    <span class="status"></span>
                </div>
                {% if errors.gender is defined %}
                    <div class="error">{{ errors.gender.0 }}</div>
                {% endif %}
            </div>
            
            <div class="row h{% if errors.birthday is defined %} error{% endif %}">
                {{ form_label(form.birthday, 'Дата рождения:') }}
                {{ form_widget(form.birthday, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.birthday is defined %}
                    <div class="error">{{ errors.birthday.0 }}</div>
                {% endif %}
            </div>
            
            <div class="row h{% if errors.city is defined %} error{% endif %}">
                {{ form_label(form.city, 'Город*:') }}
                {{ form_widget(form.city, { attr: { class: 'txt' }}) }}
                {% if errors.city is defined %}
                    <div class="error">{{ errors.city.0 }}</div>
                {% endif %}
            </div>
            
            <div class="row h{% if errors.mobile is defined %} error{% endif %}">
                {{ form_label(form.mobile, 'Мобильный телефон:') }}
                {{ form_widget(form.mobile, { attr: { class: 'txt mobile' }}) }}
                <span class="status"></span>
                {% if errors.mobile is defined %}
                    <div class="error">{{ errors.mobile.0 }}</div>
                {% endif %}
                <div class="notice">
                    <b>Внимание!</b> Вам необходимо указать федеральный номер, чтобы получать информацию о статусе и сроках доставки вашего заказа. Пример: +7 (963) 100&ndash;445&ndash;55.
                </div>
            </div>
            
            <div class="row h">
                {{ form_label(form.phones, 'Дополнительные телефонные номера:') }}
                {{ form_widget(form.phones, { attr: { rows: 1, class: 'txt' }}) }}
                <span class="status"></span>
                <div class="notice">
                    В случае, если у вас отсутствует номер мобильного телефона или вы хотите оставить резервные телефонные номера, по которым мы могли бы с вами связаться, заполните поле «Дополнительные телефонные номера».
                </div>
            </div>
            
            <div class="row h{% if errors.email is defined %} error{% endif %}">
                {{ form_label(form.email, 'Эл. почта*:') }}
                {{ form_widget(form.email, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.email is defined %}
                    <div class="error">{{ errors.email.0 }}</div>
                {% endif %}
                <div class="notice">
                    На этот адрес мы будет высылать уведомления о вашем заказе.
                </div>
            </div>
            
            <div class="row h">
                <div class="subscribe">
                    {{ form_widget(form.isMarketingSubscribed) }}
                    {{ form_label(form.isMarketingSubscribed, 'Получать уведомления о сезонных распродажах') }}
                </div>
            </div>
            
            <div class="row h{% if errors.password is defined %} error{% endif %}">
                {{ form_label(form.password, 'Пароль*:') }}
                {{ form_widget(form.password, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.password is defined %}
                    <div class="error">{{ errors.password.0 }}</div>
                {% endif %}
            </div>
            
            <div class="row h{% if errors.passwordConfirm is defined %} error{% endif %}">
                {{ form_label(form.passwordConfirm, 'Повторите пароль*:') }}
                {{ form_widget(form.passwordConfirm, { attr: { class: 'txt' }}) }}
                <span class="status"></span>
                {% if errors.passwordConfirm is defined %}
                    <div class="error">{{ errors.passwordConfirm.0 }}</div>
                {% endif %}
            </div>
            
            <div class="row h{% if errors.isHuman is defined %} error{% endif %}">
                {{ form_label(form.isHuman, 'Я человек!*') }}
                {{ form_widget(form.isHuman, { attr: { style: 'margin-top:6px' }}) }}
                {% if errors.isHuman is defined %}
                    <div class="error">{{ errors.isHuman.0 }}</div>
                {% endif %}
            </div>
            
            <div class="row h">
                {{ form_widget(form.submit, { label: 'Зарегистрироваться', attr: { class: 'bttn green' }}) }} 
                {{ form_widget(form._token) }}
            </div>

            {{ form_emd(form)}}
            
        </div>
    </div>
{% endblock %}
