{% extends "AppBundle::layout.html.twig" %}

{% block pageTitle %}
    Восстановление пароля
{% endblock %}

{% block content %}
    <h1>Восстановление пароля</h1>
    <div class="block gray w60p">
        <div class="wrapper">

            {{ form_start(form, { action: path('user_restore_password'), attr: { id: 'restore-form' }}) }}
        
            {% if errors|length %}
                <div class="row h error-summary">
                    <div class="error">
                        {% for error in errors %}
                            {{ error.0 }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="row h">
                {{ form_label(form.password, 'Новый пароль*:') }}
                {{ form_widget(form.password, { attr: { class: 'txt' }}) }}
            </div>

            <div class="row h">
                {{ form_label(form.passwordConfirm, 'Повторите новый пароль*:') }}
                {{ form_widget(form.passwordConfirm, { attr: { class: 'txt' }}) }}
            </div>

            <div class="row h">
                {{ form_widget(form.submit, { label: 'Сохранить', attr: { class: 'bttn blue' }}) }}  
                {{ form_widget(form._token) }}
            </div> 

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
