{% extends "layout.html.twig" %}

{% block pageTitle %}{% if category.pageTitle %}{{ category.pageTitle }}{% else %}Купить {{ category.name }} в г.{{ app.geoCity.name }}, цена{% endif %} в интернет-магазине Vseinet.ru{% endblock %}

{% block pageDescription %}{% if category.pageDescription %}{{ category.pageDescription }}{% else %}В каталоге {{ category.name }} вы найдёте цены, отзывы, характеристики, описания и фотографии товаров. Наши цены вас порадуют!{% endif %}{% endblock %}

{% block content %}
    <section id="catalog">
        <div class="breadcrumbs">
            <a href="{{ path('catalog') }}">Каталог</a>
            {% for link in category.breadcrumbs %}
                <span></span>
                <a href="{% if link.sefUrl %}{{ path('catalog_category_sef', { slug: link.sefUrl }) }}{% else %}{{ path('catalog_category', { id: link.id }) }}{% endif %}">{{ link.name }}</a>
            {% endfor %}
        </div>
        <h1>{{ category.name }}
        {% if app.userIsEmployee %}
            <a
                href="{{ path('authority', { targetUrl: ['/admin/productPricetags?listType=category&ids[]=', category.id]|join}) }}"
                target="_blank"
                class="pricetag"
                title="Печать ценников">
                </a>
        {% endif %}</h1>
        {% if category.description %}
            <section class="content htx htx_catalog">{{ category.description|raw }}</section>
        {% endif %}
        <div class="wrapper"{% if category.description %} style="display: table-header-group;"{% endif %}>
            {% for subcategory in subcategories %}
                <div class="category">
                    <a href="{% if subcategory.sefUrl %}{{ path('catalog_category_sef', { slug: subcategory.sefUrl }) }}{% else %}{{ path('catalog_category', { id: subcategory.id }) }}{% endif %}" class="image">
                        <img src="{{ subcategory|image(constant('AppBundle\\Enum\\BaseProductImage::SIZE_MD')) }}" alt="" />
                    </a>
                    <h2>
                        <a href="{% if subcategory.sefUrl %}{{ path('catalog_category_sef', { slug: subcategory.sefUrl }) }}{% else %}{{ path('catalog_category', { id: subcategory.id }) }}{% endif %}">{{ subcategory.name }}</a>
                        <small>
                            {{ subcategory.countProducts|number_format }}
                            {{ subcategory.countProducts|declension('товар;товара;товаров') }}
                        </small>
                    </h2>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
