{% extends "layout.html.twig" %}

{% block pageTitle %}{% if category.pageTitle %}{{ category.pageTitle }}{% else %}Купить {{ category.name }}{% if brand %} {{ brand.name }}{% endif %} в г.{{ app.geoCity.name }}, цена{% endif %} в интернет-магазине Vseinet.ru{% endblock %}

{% block pageDescription %}{% if category.pageDescription %}{{ category.pageDescription }}{% else %}В каталоге {{ category.name }} вы найдёте цены, отзывы, характеристики, описания и фотографии товаров. Наши цены вас порадуют!{% endif %}{% endblock %}

{% block content %}
    <section id="category">
        <div class="breadcrumbs">
            <a href="{{ path('catalog') }}">Каталог</a>
            {% for link in category.breadcrumbs %}
                <span></span>
                <a href="{% if link.sefUrl %}{{ path('catalog_category_sef', { slug: link.sefUrl }) }}{% else %}{{ path('catalog_category', { id: link.id }) }}{% endif %}">{{ link.name }}</a>
            {% endfor %}
            {% if brand %}
                <span></span>
                <a href="{% if category.sefUrl %}{{ path('catalog_category_sef', { slug: category.sefUrl }) }}{% else %}{{ path('catalog_category', { id: category.id }) }}{% endif %}">{{ category.name }}</a>
            {% endif %}
        </div>
        <div class="title category-title">
            <h1><span>{{ category.name }}{% if brand %} «{{ brand.name }}»</span>{% endif %}
            {% if app.userIsEmployee %}
                <a
                    href="{{ path('authority', { targetUrl: ['/admin/productPricetags?listType=category&ids[]=', category.id]|join}) }}"
                    target="_blank"
                    class="pricetag"
                    title="Печать ценников">
                    </a>
            {% endif %}</h1>
            {% set total = facets.total %}
            <small id="products-total">{{ total }}{% if total == 10000 %}+{% endif %} {{ total|declension('товар;товара;товаров') }}</small>
        </div>
        <div class="mobile-filter-box">
            <div class="mobile-filter-btn">
                <a href="#" class="bttn light">Показать фильтры по параметрам <span class="hide">Показать фильтры</span></a>
            </div>
            <nav class="sort" id="sorting">
                {% include 'Catalog/sorting.html.twig' %}
            </nav>
        </div>
        <div id="category">
            <nav id="nav">
                {% include 'Catalog/filter.html.twig' %}
            </nav>
            {% if category.description %}
                <section class="content htx htx_category">{{ category.description|raw }}</section>
            {% endif %}
            <div class="wrapper"{%if category.description %} style="display:table-header-group"{% endif %}>
                {% include 'Catalog/products.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {% include 'Catalog/filter.js.twig' %}
    {% if category.description and category.image %}
        <script>
            $(function() {
                $('<img/>', {
                    src: "{{ category.image|image(constant('AppBundle\\Enum\\BaseProductImage::SIZE_MD')) }}"
                }).insertAfter('.htx_category h2');
            });
        </script>
    {% endif %}
{% endblock %}
