{% extends "layout.html.twig" %}

{% block pageTitle %}{% if category.pageTitle %}{{ category.pageTitle }}{% else %}Купить {{ category.name }}{% if brand %} {{ brand.name }}{% endif %} в г.{{ app.geoCity.name }}, цена{% endif %} в интернет-магазине Vseinet.ru{% endblock %}

{% block pageDescription %}{% if category.pageDescription %}{{ category.pageDescription }}{% else %}В каталоге {{ category.name }}{% if brand %} {{ brand.name }}{% endif %} вы найдёте цены, отзывы, характеристики, описания и фотографии товаров. Наши цены вас порадуют!{% endif %}{% endblock %}

{% block content %}
    <section>
        <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ path('catalog') }}" title="Каталог"><span itemprop="name">Каталог</span></a>
                <meta itemprop="position" content="1" />
            </li>
            {% set lastkey = 0 %}
            {% for key, link in category.breadcrumbs %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{% if link.sefUrl %}{{ path('catalog_category_sef', { slug: link.sefUrl }) }}{% else %}{{ path('catalog_category', { id: link.id }) }}{% endif %}" title="{{ link.name }}"><span itemprop="name">{{ link.name }}</span></a>
                    <meta itemprop="position" content="{{ key + 2 }}" />
                </li>
                {% set lastkey = key %}
            {% endfor %}
            {% if brand %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{% if category.sefUrl %}{{ path('catalog_category_sef', { slug: category.sefUrl }) }}{% else %}{{ path('catalog_category', { id: category.id }) }}{% endif %}" title="{{ category.name }}"><span itemprop="name">{{ category.name }}</span></a>
                    <meta itemprop="position" content="{{ lastkey + 3 }}" />
                </li>
            {% endif %}
        </ul>
        <div class="title category-title">
            <h1><span>{{ category.name }}{% if brand %} «{{ brand.name }}»{% endif %}</span>
            {% if app.userIsEmployee %}
                <a
                    href="{{ path('authority', { targetUrl: ['/admin/productPricetags?listType=category&ids[]=', category.id]|join}) }}"
                    target="_blank"
                    class="pricetag"
                    title="Печать ценников">
                    </a>
            {% endif %}</h1>
            {% set total = facets.total %}
            <small id="products-total">{{ total }}{% if total == 10000 %}+{% endif %} {{ total|declension('товар;товара;товаров') }}</small>
        </div>
        <div class="mobile-filter-box">
            <div class="mobile-filter-btn">
                <a href="#" class="bttn light">Показать фильтры по параметрам <span class="hide">Показать фильтры</span></a>
            </div>
            <nav class="sort" id="sorting">
                {% include 'Catalog/sorting.html.twig' %}
            </nav>
        </div>
        <div id="category">
            <nav id="nav">
                {% include 'Catalog/filter.html.twig' %}
            </nav>
            {% if category.description %}
                <section class="content htx htx_category">{{ category.description|raw }}</section>
            {% endif %}
            <div class="wrapper"{%if category.description %} style="display:table-header-group"{% endif %}>
                {% include 'Catalog/products.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {% include 'Catalog/filter.js.twig' %}
    {% if category.description and category.image %}
        <script>
            $(function() {
                $('<img/>', {
                    src: "{{ category.image|image(constant('AppBundle\\Enum\\BaseProductImage::SIZE_MD')) }}",
                    alt: "Фото из категории {{ category.name }}"
                }).insertAfter('.htx_category h2');
            });
        </script>
    {% endif %}
{% endblock %}
