{% extends "layout.html.twig" %}

{% block pageTitle %}
    Поиск по значению характеристики "{{ value.detailName }} - "{{ value.value }}"
{% endblock %}

{% block content %}
    <section id="category">
        <div class="breadcrumbs">
            <a href="{{ path('catalog_category', { id: 0 }) }}">Каталог</a>
        </div>
        <div class="title category-title">
            <h1>Характеристика "{{ value.detailName }}" - "{{ value.value }}"</h1>
            <small id="products-total">{{ facets.total|number_format() }} {{ facets.total|declension('товар;товара;товаров') }}</small>
        </div>
        <div class="mobile-filter-btn">
            <a href="#" class="bttn light">Показать фильтры по параметрам <span class="hide">Показать фильтры</span></a>
        </div>
        <nav class="sort" id="sorting">
            {% include 'Catalog/sorting.html.twig' %}
        </nav>
        <div id="category">
            <nav id="nav">
                {% include 'Catalog/filter.html.twig' %}
            </nav>
            <div class="wrapper">
                {% include 'Catalog/products.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {% include 'Catalog/filter.js.twig' %}
{% endblock %}
