{% if features.brands is not null and features.brands|length %}
    <div class="tab brands expanded">
        <span class="filter-titles">Производитель</span>
    </div>
    <div class="sheet multi brands show-all" style="display:block">
        <div class="search-box">
            <input type="text" class="txt" />
        </div>
        {% set hasOtherBrands = false %}
        <div class="brands-box">
            {% for brand in features.brands %}
                {% if not (brand.isTop or filter.brandIds[brand.id] is defined) %}
                    {% set hasOtherBrands = true %}
                {% endif %}
                <div class="brand {#% if brand.isTop or filter.brandIds[brand.id] is defined %}main{% else %}other{% endif %#}{% if filter.brandIds[brand.id] is defined %} checked{% endif %}">
                    {% if category is defined %}
                        {% set brandName = brand.sefName ? brand.sefName : brand.name %}
                        <a
                            href="{% if category.sefUrl %}{{ path('catalog_category_sef_with_brand', { slug: category.sefUrl, brandName: brandName }) }}{% else %}{{ path('catalog_category_with_brand', { id: category.id, brandName: brandName }) }}{% endif %}"
                            class="brand-page" title="{{ category.name }} {{ brand.name }}"
                        >
                            &rarr;
                        </a>
                    {% endif %}
                    <label for="filter_brand_{{ brand.id }}" data-id="{{ brand.id }}" data-aliases="{% for aliasId in brand.aliasIds %};{{ aliasId }}{% endfor %};">
                        <input
                            type="checkbox"
                            id="filter_brand_{{ brand.id }}"
                            name="filter[brand][{{ brand.id }}]"
                            {% if filter.brandIds[brand.id] is defined %}checked{% endif %}
                        />
                        <span class="name">{{ brand.name }}</span>&nbsp;<small>({{ brand.countProducts }})</small>
                    </label>
                </div>
            {% endfor %}
        </div>
        {#% if hasOtherBrands %}
            <a href="javascript:void(0)" class="toggle-other ajax gray r">показать все</a>
        {% endif %#}
    </div>
{% endif %}
