<form method="post" id="ProductFilter">
    {# categories #}
    {% if filter.categories is not null and filter.categories|length %}
        <div class="filter">
            {% for group in filter.categories %}
                <div class="tab categoties{% if loop.first %} first{% else %} x{% if loop.last %} last{% endif %}{% endif %} expanded">
                    <span class="filter-titles">{{ group.name }}</span>   
                </div>
                <div class="sheet multi categories" style="display:block">
                    {% for category in group.children %}
                        <div>
                            <label for="filter_category_{{ category.id }}">
                                <input 
                                    type="checkbox"
                                    id="filter_category_{{ category.id }}"
                                    name="filter[category][{{ category.id }}]"
                                    {% if data.categoryIds[category.id] is defined %}checked{% endif %}
                                />
                                {{ category.name }}&nbsp;<small>({{ category.countProducts }})</small>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="filter">
        {# price #}
        {% if filter.price.min is not null and filter.price.max is not null %}
            <div class="tab first price expanded">
                <span class="filter-titles">Цена</span>
            </div> 
            <div 
                class="sheet price range" 
                style="display:block"
                data-min="{{ filter.price.min }}" 
                data-max="{{ filter.price.max }}" 
                data-step="{{ filter.price.step }}"
            >
                <label for="filter_price_min">от</label>
                <input 
                    type="text" 
                    id="filter_price_min" 
                    name="filter[price][min]" 
                    class="txt" 
                    value="{% if data.price and data.price.min != filter.price.min %}{{ data.price.min }}{% endif %}"
                    placeholder="{{ filter.price.min }}" 
                />
                <label for="filter_price_max">до</label>
                <input 
                    type="text" 
                    id="filter_price_max" 
                    name="filter[price][max]" 
                    class="txt" 
                    value="{% if data.price and data.price.max != filter.price.max %}{{ data.price.max }}{% endif %}"
                    placeholder="{{ filter.price.max }}" 
                />
                <span class="RUR">Р</span>
            </div> 
        {% endif %}
        {# brands #}
        {% if filter.brands is not null and filter.brands|length %}
            <div class="tab brands expanded">
                <span class="filter-titles">Производитель</span>
            </div>
            <div class="sheet multi brands" style="display:block">
                {% set hasOtherBrands = false %}
                {% for brand in filter.brands %}
                    {% if not (brand.isTop or data.brandIds[brand.id] is defined) %}
                        {% set hasOtherBrands = true %}
                    {% endif %}
                    <div class="{% if brand.isTop or data.brandIds[brand.id] is defined %}main{% else %}other{% endif %}">
                        <a 
                            href="{#{ path('catalog_category_with_brand', { id: category.id, brandName: brand.name }) }#}" 
                            class="brand-page"
                        >
                            &rarr;
                        </a>
                        <label for="filter_brand_{{ brand.id }}" data-id="{{ brand.id }}">
                            <input 
                                type="checkbox" 
                                id="filter_brand_{{ brand.id }}" 
                                name="filter[brand][{{ brand.id }}]" 
                                {% if data.brandIds[brand.id] is defined %}checked{% endif %}
                            />
                            {{ brand.name }}&nbsp;<small>({{ brand.countProducts }})</small>
                        </label>
                    </div>
                {% endfor %}
                {% if hasOtherBrands %}
                    <a href="javascript:void(0)" class="toggle-other ajax gray r">показать все</a>    
                {% endif %}
            </div>
        {% endif %}
        {# details #}
        {% if filter.details|length %}
            {% if filter.sections|length > 2 %}
                <div class="tab sections expanded">
                    <span class="filter-titles">Наименование</span>
                </div>
                <div class="sheet multi sections" style="display:block">
                    {% for section in filter.sections %}
                        {% if section.id > 0 %}
                            <label for="filter_section_{{ section.id }}" data-id="{{ section.id }}">
                                <input 
                                    type="checkbox" 
                                    id="filter_section_{{ section.id }}" 
                                    name="filter[section][{{ section.id }}]" 
                                    {% if data.sectionIds[section.id] is defined %}checked{% endif %}
                                />
                                {{ section.name }}&nbsp;<small>({{ section.countProducts }})</small>
                            </label>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% for detail in filter.details %}
                <div class="detail">
                    <div class="tab detail-{{ detail.id }}{% if data.details[detail.id] is defined %} expanded{% endif %}">
                        <span class="filter-titles">{{ detail.name }}{% if detail.unit %}, {{ detail.unit }}{% endif %}</span>
                    </div>
                    <div class="sheet multi detail-{{ detail.id }}{% if 'boolean' == detail.typeCode %} inline{% endif %}"{% if data.details[detail.id] is defined %} style="display:block"{% endif %} data-id="{{ detail.id }}">
                        {% if 'boolean' == detail.typeCode %}
                            <label for="filter_detail_{{ detail.id }}_1" data-value="1">
                                <input 
                                    type="radio" 
                                    id="filter_detail_{{ detail.id }}" 
                                    name="filter[detail][{{ detail.id}}]" 
                                    value="1" 
                                    {% if data.details[detail.id] is defined and data.details[detail.id] == 1 %}checked{% endif %}
                                />
                                есть
                            </label>
                            <label for="filter_detail_{{ detail.id }}_0" data-value="0">
                                <input 
                                    type="radio" 
                                    id="filter_detail_{{ detail.id }}" 
                                    name="filter[detail][{{ detail.id}}]" 
                                    value="0" 
                                    {% if data.details[detail.id] is defined and data.details[detail.id] == 0 %}checked{% endif %}
                                />
                                нет
                            </label>
                            <label for="filter_detail_{{detail.id }}_" data-value="">
                                <input 
                                    type="radio" 
                                    id="filter_detail_{{ detail.id }}_" 
                                    name="filter[detail][{{ detail.id}}]" 
                                    value="" 
                                    {% if data.details[detail.id] is not defined %}checked{% endif %}
                                />
                                неважно
                            </label>
                        {% elseif 'enum' == detail.typeCode %}
                            {% for id, count in detail.values %}
                                <label for="filter_detail_{{ detail.id }}_{{ id }}" data-id="{{ id }}">
                                    <input 
                                        type="checkbox" 
                                        id="filter_detail_{{ detail.id }}_{{ id }}" 
                                        name="filter[detail][{{ detail.id }}][{{ id }}]" 
                                        {% if data.details[detail.id][id] is defined %}checked{% endif %}
                                    /> 
                                    {{ filter.values[id].name }}&nbsp;<small>({{ count }})</small>
                                </label><br />
                            {% endfor %}
                        {% elseif 'number' == detail.typeCode %}
                            <div 
                                class="range" 
                                data-min="{{ detail.values.min }}" 
                                data-max="{{ detail.values.max }}" 
                                data-step="{{ detail.values.step }}"
                            >
                                <label for="filter_detail_{{ detail.id }}_min">от</label>
                                <input 
                                    type="text" 
                                    id="filter_detail_{{ detail.id }}_min" 
                                    name="filter[detail][{{ detail.id }}][min]" 
                                    class="txt" 
                                    value="{% if data.details[detail.id] is defined and data.details[detail.id].min != detail.values.min %}{{data.details[detail.id].min }}{% endif %}"
                                    pceholder="{{ detail.values.min }}" 
                                />
                                <label for="filter_detail_{{ detail.id }}_max">до</label>
                                <input 
                                    type="text" 
                                    id="filter_detail_{{ detail.id }}_max" 
                                    name="filter[detail][{{ detail.id }}][max]" 
                                    class="txt" 
                                    value="{% if data.details[detail.id] is defined and data.details[detail.id].max != detail.values.max %}{{data.details[detail.id].max }}{% endif %}"
                                    placeholder="{{ detail.values.max }}" 
                                />
                                <a href="javascript:void(0)" class="clear"></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %} 
        {# availability #}
        {% if filter.availability|length %}
            <div class="tab expanded"><span class="filter-titles">Доступность</span></div>
            <div class="sheet multi" style="display:block">
                {% for id, title in availabilityOptions %}
                    {% if filter.availability[id] %}
                        <label for="filter_availability_{{ id }}">
                            <input 
                                type="radio" 
                                id="filter_availability_{{ id }}" 
                                name="filter[availability]" 
                                value="{{ id }}" 
                                {% if data.availability == id %}checked{% endif %}
                            />
                            {{ title }}&nbsp;<small>({{ filter.availability[id] }})</small> 
                        </label><br />
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}  
        {# nofilled #}
        {% if app.userIsEmployee %}
            <div class="tab expanded"><span class="filter-titles">Заполненность</span></div>
            <div class="sheet multi" style="display:block">
                {% for id, title in nofilledOptions %}
                    <label for="filter_nofilled_{{ id }}">
                        <input type="checkbox" id="filter_nofilled_{{ id }}" name="filter[nofilled][{{ id }}]" />
                        {{ title }}&nbsp;<small>({{ filter.nofilled[id] }})</small>
                    </label>
                {% endfor %}
            </div>
        {% endif %} 
        {# search #}
        <div class="tab search expanded">
            <span class="filter-titles">Поиск в наименовании</span>
        </div>
        <div class="sheet search" style="display:block">
            <input type="text" name="filter[name]" class="txt" value="{{ data.name }}" />  
        </div>
        {# apply #}
        <div class="tab last apply">
            <a href="{{ resetUrl }}" class="gray">Сброс</a>
            <button type="submit" class="bttn light r">Применить</button>
            <button type="submit" class="bttn light prev total hidden"></button>
        </div>
    </form>
</div>