{% macro availability(product) %}
    {% if constant('AppBundle\\Enum\\ProductAvailabilityCode::AVAILABLE') == product.availability %}
        <div class="status in-stock">В наличии,{% if app.geoCity.id != 1 %} доставка<br/>т.8 (8412) {% else %}<br/>доставка т.{% endif %}290-708</div>
    {% elseif constant('AppBundle\\Enum\\ProductAvailabilityCode::OUT_OF_STOCK') == product.availability %}
        <div class="status not-available{% if product.updatedAt %} help" title="Последний заход: {{ product.updatedAt|date('d.m.Y') }}{% endif %}">Нет в продаже</div>
    {% elseif constant('AppBundle\\Enum\\ProductAvailabilityCode::AWAITING') == product.availability %}
        <div class="status on-order">Ожидается</div>
    {% else %}
        <div class="status on-order">
            Доставим {{ product.deliveryDate|date_format('%e %B')|replace({ 'нварь': 'нваря', 'евраль': 'евраля', 'арт': 'арта', 'прель': 'преля', 'ай': 'ая', 'юнь': 'юня', 'юль': 'юля', 'вгуст': 'вгуста', 'ентябрь': 'ентября', 'ктябрь': 'ктября', 'оябрь': 'оября', 'екабрь': 'екабря' })|replace({ 'аа': 'а' }) }}
        </div>
    {% endif %}
{% endmacro %}
{% import _self as macro %}
{% set isAvailable = constant('AppBundle\\Enum\\ProductAvailabilityCode::AVAILABLE') == product.availability %}
{% set isInTransit = constant('AppBundle\\Enum\\ProductAvailabilityCode::IN_TRANSIT') == product.availability %}
{% set isOnDemand = constant('AppBundle\\Enum\\ProductAvailabilityCode::ON_DEMAND') == product.availability %}
<div class="price-wrapper{% if not app.userIsEmployee %} client{% endif %}">
    <div class="status-mobile-screens">
        {{ macro.availability(product) }}
    </div>
    {% if app.userIsEmployee %}
        {% if constant('AppBundle\\Enum\\ProductAvailabilityCode::OUT_OF_STOCK') != product.availability or product.isManualPrice %}
            <strong class="price{% if product.price|default(0) %}">
                    <a
                        href="{{ path('product_set_price', { id: product.id }) }}"
                        class="icon set-price"
                        title="Установить ручную цену"
                    >
                    </a>
                <span class="price-value price-{{ product.priceTypeCode }}" title="{{ product.priceTypeName }}{% if product.isManualPrice %}, {{ product.priceChangedAt|date_format('%d.%m.%Y') }} {{ product.priceChangedBy }}{% endif %}">{{ product.price|price_format }} <span class="RUR">Р</span>{% else %} help" title="товар участвует в акции, за более подробной информацией обращайтесь по тел. {{ app.representative.phone1 }}">???{% endif %}</span>
                    <a
                        href="{{ path('product_reset_price', { id: product.id }) }}"
                        class="icon reset-price{% if not product.isManualPrice %} hidden{% endif %}"
                        title="Сбросить ручную цену"
                    >
                    </a>
                </strong>
        {% endif %}
    {% else %}
        {% if isAvailable %}
            <div class="price">
                <b class="old">{{ product.price|discount_price|price_format }} <span class="RUR">Р</span></b>
                <strong class="new">{{ product.price|price_format }} <span class="RUR">Р</span></strong>
            </div>
        {% elseif constant('AppBundle\\Enum\\ProductAvailabilityCode::OUT_OF_STOCK') != product.availability %}
            <strong class="price{% if product.price|default(0) %}">
                <span class="price-value">{{ product.price|price_format }} <span class="RUR">Р</span>{% else %} help" title="товар участвует в акции, за более подробной информацией обращайтесь по тел. {{ app.representative.phone1 }}">???{% endif %}</span>
            </strong>
        {% endif %}
    {% endif %}
    <div class="status-all-screens">
        {{ macro.availability(product) }}
    </div>
</div>
<div class="sale-btns-wrapper">
    <div class="sale-btns to-cart">
        {% if app.userIsEmployee or isAvailable or isInTransit or isOnDemand %}
            {% if app.userIsEmployee %}
                <input
                    type="number"
                    class="cart-quantity"
                    value="{{ constant('AppBundle\\Enum\\ProductAvailabilityCode::AVAILABLE') == product.availability ? 1 : product.minQuantity }}"
                    data-min-quantity="{{ constant('AppBundle\\Enum\\ProductAvailabilityCode::AVAILABLE') == product.availability ? 1 : product.minQuantity }}"
                    min="{{ constant('AppBundle\\Enum\\ProductAvailabilityCode::AVAILABLE') == product.availability ? 1 : product.minQuantity }}"
                >
            {% endif %}
            <a
                href="{{ path('cart_add', { id: product.id }) }}"
                {#onclick="yaCounter13639594.reachGoal('cartadd');return true;" #}
                class="bttn green cart-add"
                rel="nofollow"
            >
                Купить
            </a>
        {% else %}
            <a
                href="{{ path('order_receipts_of_product', { id: product.id }) }}"
                {#onclick="yaCounter13639594.reachGoal('cartadd');return true;" #}
                class="bttn greengray receipts-of-product"
                rel="nofollow"
            >
                Сообщить<br/>о поступлении
            </a>
        {% endif %}
        {% if (isAvailable or isInTransit or isOnDemand) and 300000 < product.price %}
            {% set credit = product.price*1.2582/24 %}
            <a
                href="{{ path('cart_add', { id: product.id }) }}"
                data-url="{{ path('credit_calculators', { id: product.id }) }}"
                class="bttn blue credit"
                rel="nofollow"
            >
                Кредит от {{ credit|round(-2)|price_format }} <span class="RUR">Р</span>
            </a>
        {% endif %}
        {% if (isAvailable or isInTransit or isOnDemand) and product.price and app.geoCity.geoRegionId in [44, 59] %}
            <a
                class="bttn orange cheaper-request"
                data-url="{{ path('cheaper_request', { id: product.id }) }}"
                href="#"
                rel="nofollow"
            >
                Нашли дешевле?
            </a>
        {% endif %}
    </div>
    <div class="sale-btns in-cart">
        <a href="{{ path('cart') }}" class="bttn green">Перейти в корзину</a>
    </div>
</div>
