{% extends "ServiceBundle:Senders:base_page.html.twig" %}

{% block content %}
    <h2 style="color:#333;font-size: 14px;margin:30px 0 15px 0;  font-weight: normal;">Здравствуйте, <strong>{{ order.firstname }}</strong>!</h2>
    <p style="color:#333;">Ваш заказ был обработан и готов к отгрузке. Для его отгрузки необходимо произвести оплату.</p>
    <h3 style="color:#333;">Варианты оплаты</h3>
    <ol style="color:#333;">
        <li><h4>&laquo;Сбербанк Онлайн&raquo;</h4>
            <p>выберите в разделе &laquo;Переводы и платежи &rarr; Оплата покупок и услуг &rarr; Товары и услуги&raquo; организацию Vseinet.ru (или найдите ее по ИНН 583502363760) и укажите в поле &laquo;Лицевой счет&raquo; № заказа: <strong>{{ order.id }}</strong></p>
            <p><a href="https://online.sberbank.ru/CSAFront/index.do" onclick="window.open(this.href);return false;"><img src="{{ images.sber }}"/></a></p></li>
        <li><h4>Мобильное приложение &laquo;Сбербанк Онлайн&raquo;</h4>
            <p>найдите в разделе &laquo;Платежи &rarr; Остальное&raquo; организацию Vseinet.ru и укажите № заказа: <strong>{{ order.id }}</strong></p></li>
        <li><h4>Терминал оплаты Сбербанка</h4>
            <p>выберите в услугах организацию Vseinet.ru и укажите № заказа: <strong>{{ order.id }}</strong></p></li>
        <li><h4>Отделение Сбербанка по счету</h4>
            <p><a href="/order/PrintInvoicePDF/{{ order.id }}" onclick="window.open(this.href);return false;">Распечатать счет</a></p></li>
    </ol>
    <table class="info" width="100%" style="color:#333;">
        <tr>
            <td width="50%" valign="top">
                <p><strong>Дата заказа:</strong> {{ order.order_date|date("d/m/Y") }}</p>
                <p><strong>Способ доставки:</strong> {{ order.delivery_type }}</p>
                {% if order.delivery_type != "Курьером" %}<p><strong>Адрес доставки:</strong> {{ order.address }}</p>{% endif %}
            </td>
            <td width="50%" valign="top">
                <p><strong>Имя:</strong> {% if order.lastname}{{ order.lastname }} {% endif %}{{ order.firstname }}{% if order.secondname} {{ order.secondname }}{% endif %}</p>
                <p><strong>Телефон:</strong> {% if not order.phone}{{ order.additional_phones }}{else}{{ order.phone }}{% if order.additional_phones}, {{ order.additional_phones }}{% endif %}{% endif %}</p>
            </td>
        </tr>
    </table>
    <table width="100%" class="order" style="color:#333;border-collapse: collapse;border-spacing: 0;border:none;border-bottom:solid 2px #61BD00; ">
        <tbody class="tableHead">
        <tr>
            <th width="20" style="color:white; background-color:#61BD00; font-weight: normal; padding: 5px;">#</th>
            <th align="left" style="color:white; background-color:#61BD00; font-weight: normal; padding: 5px;">Наименование</th>
            <th width="50" style="color:white; background-color:#61BD00; font-weight: normal; padding: 5px;">Кол-во</th>
            <th style="color:white; background-color:#61BD00; font-weight: normal; padding: 5px;">Статус</th>
        </tr>
        </tbody>
        {% set total_quantity = 0 %}

        {% for id, curr in positions %}
            <tr>
                <td style="padding: 10px; border:none; border-bottom:dotted 1px #61BD00;">{{ loop.index }}.</td>
                <td style="padding: 10px; border:none; border-bottom:dotted 1px #61BD00;">{{ curr.name }}</td>
                <td style="padding: 10px; border:none; border-bottom:dotted 1px #61BD00;white-space: nowrap;" align="center" class="nowrap">
                    {% set total_quantity = total_quantity + curr.quantity %}
                    {{ curr.quantity }}
                </td>
                <td style="padding: 10px; border:none; border-bottom:dotted 1px #61BD00;white-space: nowrap;color:{% if curr.status_id==1 %}#4d9901{%  elseif curr.status_id==7 %}#f00{% elseif curr.status_id==6 %}#ef6b00{% elseif curr.status_id==2 %}maroon{%  elseif curr.status_id==3 %}#09169f{% elseif curr.status_id==4 %}#000{%  elseif curr.status_id==5 %}#e4e317{% elseif curr.status_id==8 %}#aaa901{% elseif curr.status_id==9 %}#c811c7{% elseif curr.status_id==10 %}#4d92ff{% elseif curr.status_id==11 %}#03c18b{% endif %};" align="center" class="nowrap">{{ curr.status }}</td>
            </tr>
            {% if curr.price_change_amount %}
                <tr style="font-size:11px;">
                    <td style="padding: 10px; border:none; border-bottom:dotted 1px #61BD00;"></td>
                    <td style="padding: 10px; border:none; border-bottom:dotted 1px #61BD00;"><em>Доставка до города</em></td>
                    <td style="padding: 10px; border:none; border-bottom:dotted 1px #61BD00;white-space: nowrap;" align="center" class="nowrap"></td>
                    <td style="padding: 10px; border:none; border-bottom:dotted 1px #61BD00;white-space: nowrap;" align="center" class="nowrap"></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}