{% extends "ServiceBundle:Senders:base_page.html.twig" %}

{% block content %}
    <p style="color:#333;margin-top:25px;">
        Уважаемый <strong>{{ user.lastname }} {{ user.firstname }} {% if user.secondname}{{ user.secondname }}{% endif %}</strong>,
    </p>
    <p style="color:#333;margin-top:30px;">
        Напоминаем вам регистрационные данные, необходимые для авторизации на сайте:
    </p>
    <p style="color:#333;">
        Ваш email: <strong>{{ user.email }}</strong><br/>
        Ваш пароль: <strong>{{ user.password }}</strong><br/>
    </p>
{% endblock %}
