{% extends "layout.html.twig" %}

{% block pageTitle %}Доставка в интернет-магазине Vseinet.ru{% endblock %}

{% block content %}
<div id="delivery">
    <div id="courier">&nbsp;</div>
    <h1>{{ page.title }}</h1>
    <div id="sticky_tabs">
        <ul class="tabs">
            <li id="li_tabs_1"><a href="javascript:void(0)" data-hash="#courier" class="green">По городу</a></li>
            <li id="li_tabs_2"><a href="javascript:void(0)" data-hash="#point" class="green">До представительства</a></li>
            <li id="li_tabs_3"><a href="javascript:void(0)" data-hash="#tk" class="green">Транспортной компанией</a></li>
            <li id="li_tabs_4"><a href="javascript:void(0)" data-hash="#post" class="green">Почтой</a></li>
        </ul>
    </div>
    <div class="delivery-wrapper"></div>
    <div class="w40p">
        <h2>Тарифная сетка</h2>
        <table class="tariff">
            <tr>
                <th>Категория товара</th>
                <th>Стоимость доставки до основного представительства (г. Пенза ул. Суворова, 225)</th>
            </tr>
            {% for deliveryTax in deliveryTaxes %}
            <tr>
                <td>{{ deliveryTax.name }}</td>
                <td>от {{ deliveryTax.tax|price_format }} руб</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Остальные категории товаров</td>
                <td class="free">бесплатно</td>
            </tr>
        </table>
        <div class="delivery_explanation">Если вы хотите забрать товар из другого представительства, узнать стоимость доставки до него из основного представительства можно из нижеприведенной таблицы. Итоговая стоимость доставки до вашего представительства вычисляется как сумма доставок из первой и второй таблицы.</div>
        <table class="tariff">
            <tr>
                <th>Представительство</th>
                <th>Стоимость доставки до вашего представительства (г. Пенза ул. Суворова, 225)</th>
            </tr>
            {% for representative in representatives %}
            <tr>
                <td>
                    {% if representative.address %}
                        {{ representative.geoCityName }}, <br/>
                        <a href="{{ path('contacts_representative', { geoPointId: representative.geoPointId }) }}">
                            {{ representative.address }}
                        </a>
                    {% else %}
                        <a href="{{ path('contacts_representative', { geoPointId: representative.geoPointId }) }}">
                            {{ representative.geoCityName }}
                        </a>
                    {% endif %}
                </td>
                {% if constant('AppBundle\\Enum\\RepresentativeTypeCode::PARTNER') == representative.type %}
                    <td>10%**</td>
                {% elseif representative.deliveryTax and ( not representative.isOur or not representative.hasRetail ) %}
                    <td>от {{ representative.deliveryTax|price_format }} руб
                {% else %}
                    <td class="free">бесплатно*</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <div class="delivery_explanation"><span class="free">*</span> &ndash; Кроме категорий, указанных в первой таблице.</div>
        <div class="delivery_explanation">** &ndash; От стоимости товара. При стоимости товара свыше 10 000 руб, стоимость доставки составляет 1 000 руб.</div>
    </div>
    <div class="content w60p r text_page">
        {{ page.content|raw }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $.fn.is_on_screen = function(){
        var win = $(window);
        var viewport = {
            top : win.scrollTop(),
            left : win.scrollLeft()
        };
        viewport.right = viewport.left + win.width();
        viewport.bottom = viewport.top + win.height();

        var bounds = this.offset();
        bounds.right = bounds.left + this.outerWidth();
        bounds.bottom = bounds.top + this.outerHeight();

        return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
    };

    $(function() {
        var hash = window.location.hash, active = $('a[data-hash=' + hash + ']').parent().index();
        $('#delivery').tabs({
            active: active > -1 ? active : 0,
            beforeLoad: function(event, ui) {
                return false;
            },
            beforeActivate: function(event, ui) {
                window.location = ui.newTab.find('a').data('hash');
            }
        });
        var cart = $('#sticky_tabs').sticky({
            topSpacing: 100,
            rightSpacing: 0,
            bottomSpacing: 245
        });

        $(window).scroll(function(){
            if( $('.tabs').length > 0 ) {

                var offset_post = document.getElementById('post').getBoundingClientRect();
                var offset_tk = document.getElementById('tk').getBoundingClientRect();
                var offset_point = document.getElementById('point').getBoundingClientRect();
                var offset_courier = document.getElementById('courier').getBoundingClientRect();

                if($('#post').is_on_screen() && offset_post.top<50) {
                    $('.tabs').find('li').removeClass('ui-tabs-active');
                    $('.tabs').find('li').removeClass('ui-state-active');
                    $('.tabs').find('#li_tabs_4').addClass('ui-tabs-active');
                    $('.tabs').find('#li_tabs_4').addClass('ui-state-active');
                }

                if($('#tk').is_on_screen() && offset_tk.top<50) {
                    $('.tabs').find('li').removeClass('ui-tabs-active');
                    $('.tabs').find('li').removeClass('ui-state-active');
                    $('.tabs').find('#li_tabs_3').addClass('ui-tabs-active');
                    $('.tabs').find('#li_tabs_3').addClass('ui-state-active');
                }

                if($('#point').is_on_screen() && offset_point.top<50) {
                    $('.tabs').find('li').removeClass('ui-tabs-active');
                    $('.tabs').find('li').removeClass('ui-state-active');
                    $('.tabs').find('#li_tabs_2').addClass('ui-tabs-active');
                    $('.tabs').find('#li_tabs_2').addClass('ui-state-active');
                }

                if($('#courier').is_on_screen() && offset_courier.top<50) {
                    $('.tabs').find('li').removeClass('ui-tabs-active');
                    $('.tabs').find('li').removeClass('ui-state-active');
                    $('.tabs').find('#li_tabs_1').addClass('ui-tabs-active');
                    $('.tabs').find('#li_tabs_1').addClass('ui-state-active');
                }

            }
        });
    });
</script>
{% endblock %}
