{% extends "layout.html.twig" %}

{% block pageTitle %}Ошибка 404{% endblock %}

{% block pageDescription %}{{ app.defaultPageDescription }}{% endblock %}


{% block content %}
    <div class="breadcrumbs"> <a href="{{ path('catalog') }}">Каталог</a></div>
    <h1>Ошибка 404</h1>
    <p style="font-size: 25px; margin-bottom:20px;">Такой страницы не существует</p>
    <ul>
        <li style="margin-bottom:10px;"><b><a href="{{ path('index') }}">Перейти на главную страницу</a></b></li>
        <li style="margin-bottom:10px;"><b><a href="{{ path('catalog') }}">Перейти в каталог товаров</a></b></li>
        <li style="margin-bottom:10px;"><b><a href="{{ path('about_page') }}">Информация о компании</a></b></li>
    </ul>
{% endblock %}
