{% set imagedir = app.getParameter('banners.images.web_path') ~ '/' %}
<div id="slideshow">
    <div class="sheets">
        {% for banner in banners %}
            <div class="sheet">
                <a rel="nofollow" href="{% if banner.url %}{{ banner.url }}{% elseif banner.baseProductsIds or banner.categoriesIds %}{{ url('banner_offers', { bannerId: banner.id }) }}{% endif %}">
                    <picture>
                        <source srcset="{{ asset(imagedir ~ banner.imagePc)|replace({'.jpg':'.webp',' ':'%20'}) }}" type="image/webp" media="(min-width: 1160px)" />
                        <source srcset="{{ asset(imagedir ~ banner.imagePc)|replace({' ':'%20'}) }}" type="image/jpg" media="(min-width: 1160px)" />
                        <source srcset="{{ asset(imagedir ~ banner.imageTablet)|replace({'.jpg':'.webp',' ':'%20'}) }}" type="image/webp" media="(min-width: 481px)" />
                        <source srcset="{{ asset(imagedir ~ banner.imageTablet)|replace({' ':'%20'}) }}" type="image/jpg" media="(min-width: 481px)" />
                        <source srcset="{{ asset(imagedir ~ banner.imagePhone)|replace({'.jpg':'.webp',' ':'%20'}) }}" type="image/webp" />
                        <img
                            class="photoBlock {% if loop.index > 1 %} lazyload{% endif %}"
                            data-pos-x="0"
                            src="{{ asset(imagedir ~ banner.imagePhone) }}"
                            data-src="{{ asset(imagedir ~ banner.imagePhone) }}"
                            alt="{{ banner.name }}"
                        />
                    </picture>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="tabs">
        {% for banner in banners %}
            <div
                class="tab tabExample{% if banner.tabIsFixed %} fixed{% endif %}"
                style="background:{{ banner.tabBackgroundColor }}">
                {% if banner.tabText %}
                    <div class="textTab" style="color:{{ banner.tabTextColor|default('#000000') }}">
                        {{ banner.tabText }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

