<section id="populars">
    <h2>Популярные товары</h2>
    <div class="products">
        {% for product in products %}
            <div class="product{% if loop.index == 1 %} first{% endif %} {% if loop.index > 2 %} mobile-hide{% endif %}">
                <div class="category">
                    <a href="{{ url('catalog_category', { id: product.categoryId }) }}" class="green">{{ product.categoryName }}</a>
                </div>
                <a href="{% if product.sefUrl %}{{ url('catalog_product_sef', { slug: product.sefUrl }) }}{% else %}{{ url('catalog_product', { id: product.id }) }}{% endif %}" class="image">
                    <img
                        data-src="{{ product|image(constant('AppBundle\\Enum\\BaseProductImage::SIZE_MD')) }}"
                        alt="Фото {{ product.name }}. Интернет-магазин Vseinet.ru Пенза"
                        class="lazyload"
                    />
                </a>
                <div class='product-title'><a href="{% if product.sefUrl %}{{ url('catalog_product_sef', { slug: product.sefUrl }) }}{% else %}{{ url('catalog_product', { id: product.id }) }}{% endif %}">{{ product.name }}</a></div>
                <div class="price">
                    <strong>{{ product.price|price_format }} <span class="RUR">Р</span></strong>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
