<section id="specials">
    <h1><a href="{{ url('burning_offers_page') }}" class="black">{{ title }}</a></h1>
    <div class="products">
        {% for product in products %}
            {% if loop.index == 4 %}
                </div><div class="products">
            {% endif %}
            <div class="product">
                <a href="{% if product.sefUrl %}{{ url('catalog_product_sef', { slug: product.sefUrl }) }}{% else %}{{ url('catalog_product', { id: product.id }) }}{% endif %}" class="image">
                    <img
                        src="{{ product|image(constant('AppBundle\\Enum\\BaseProductImage::SIZE_MD')) }}"
                        data-src="{{ product|image(constant('AppBundle\\Enum\\BaseProductImage::SIZE_MD')) }}"
                        alt="{{ product.name }}. Интернет-магазин Vseinet.ru Пенза"
                        class="lazyload"
                    />
                </a>
                <h4><a href="{% if product.sefUrl %}{{ url('catalog_product_sef', { slug: product.sefUrl }) }}{% else %}{{ url('catalog_product', { id: product.id }) }}{% endif %}">{{ product.name }}</a></h4>
                <strong class="discount">-{{ product.price|discount_percent }}%</strong>
                <div class="price">
                    <del class="old">{{ product.price|discount_price|price_format }}<span class="RUR">Р</span></del>
                    <strong class="new">{{ product.price|price_format }} <span class="RUR">Р</span></strong>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
