{% extends "layout.html.twig" %}

{% block pageDescription %}
    {{ app.defaultPageDescription }}
{% endblock %}

{% block stylesheets %}
<style>
    #header:before,
    #header:after {
        display: none;
    }
    #content {
        padding-top: 0;
    }
    #tree {
        display: block;
        margin: 0 0 39px;
    }
</style>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
    <nav id="nav">
        {{ render(controller('AppBundle:Main:getMenu')) }}
    </nav>
    
    <div class="wrapper">
        {{ render(controller('AppBundle:Main:getBannerMain')) }}
        <div class="benifits">
            <a class="benifit delivery">
                <span></span>
                <h4>Доставка по всей России</h4>
                <p>Быстрая доставка внутри городов и областей.</p>
            </a>
            <a class="benifit price">
                <span></span>
                <h4>Гарантия низких цен</h4>
                <p>Нашли дешевле?<br />Мы сделаем ниже!</p>
            </a>
            <a class="benifit credit">
                <span></span>
                <h4>Рассрочка и кредит</h4>
                <p>Максимально выгодные и прозрачные условия.</p>
            </a>
            <a class="benifit assortment">
                <span>250</span>
                <h4>Огромный ассортимент</h4>
                <p>1 млн. товаров на сайте, 100 тыс. в наличии.</p>
            </a>
        </div>
        {{ render(controller('AppBundle:Main:getBlockSpecials')) }}
    </div>
    {{ render(controller('AppBundle:Main:getBlockPopulars')) }}
    <div class="benifits mobile-benefits">
        <a class="benifit delivery">
            <span></span>
            <h4>Доставка по всей России</h4>
            <p>Быстрая доставка внутри городов и областей.</p>
        </a>
        <a class="benifit price">
            <span></span>
            <h4>Гарантия низких цен</h4>
            <p>Нашли дешевле?<br />Мы сделаем ниже!</p>
        </a>
        <a class="benifit credit">
            <span></span>
            <h4>Рассрочка и кредит</h4>
            <p>Максимально выгодные и прозрачные условия.</p>
        </a>
        <a class="benifit assortment">
            <span>250</span>
            <h4>Огромный ассортимент</h4>
            <p>1 млн. товаров на сайте, 100 тыс. в наличии.</p>
        </a>
    </div>
    {{ render(controller('AppBundle:Main:getBlockLastview')) }}
    {% include 'Main/seo.html.twig' %}
{% endblock %}