{% extends "layout.html.twig" %}

{% block pageTitle %}Всеинет - интернет-магазин бытовой техники, телефонов и телевизоров в г.{{ app.geoCity.name }}, каталог товаров, низкие цены.{% endblock %}

{% block pageDescription %}
    {{ app.defaultPageDescription }}
{% endblock %}

{% block stylesheets %}
<style>
    #header:before,
    #header:after {
        display: none;
    }
    #content {
        padding-top: 0;
    }
    #tree {
        display: block;
        margin: 0 0 39px;
    }
    .notice-block {
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
    <nav id="nav">
        {{ render(controller('AppBundle:Main:getMenu')) }}

        <div id="services">
            {{ render(controller('AppBundle:Main:getServices')) }}
        </div>
        <a href="/partnership/#wholesale" class="bttn intro wholesalers">Оптовикам</a>
        <a href="/partnership/#franchising" class="bttn intro franchising">Франчайзинг</a>
        <a href="/partnership/#franchising" id="franchising-call-to-action">
            <span class="call-to-action-wrapper">
                ищем<br/> <span class="franchising-representatives-word">представителей</span><br/> в регионах
            </span>
        </a>
    </nav>

    <div class="wrapper">
        {{ render(controller('AppBundle:Main:getBannerMain')) }}
        <div class="benifits">
            <a class="benifit delivery" href="/delivery/">
                <span></span>
                <h4>Доставка по всей России</h4>
                <p>Быстрая доставка внутри городов и областей.</p>
            </a>
            <a class="benifit price">
                <span></span>
                <h4>Гарантия низких цен</h4>
                <p>Нашли дешевле?<br />Мы сделаем ниже!</p>
            </a>
            <a class="benifit credit" href="/credit/">
                <span></span>
                <h4>Рассрочка и кредит</h4>
                <p>Максимально выгодные и прозрачные условия.</p>
            </a>
            <a class="benifit assortment" href="/catalog/">
                <span>250</span>
                <h4>Огромный ассортимент</h4>
                <p>1 млн. товаров на сайте, 100 тыс. в наличии.</p>
            </a>
        </div>
        {{ render(controller('AppBundle:Main:getBlockSpecials')) }}
    </div>
    {{ render(controller('AppBundle:Main:getBlockPopulars')) }}
    <div class="benifits mobile-benefits">
        <a class="benifit delivery" href="/delivery/">
            <span></span>
            <h4>Доставка по всей России</h4>
            <p>Быстрая доставка внутри городов и областей.</p>
        </a>
        <a class="benifit price">
            <span></span>
            <h4>Гарантия низких цен</h4>
            <p>Нашли дешевле?<br />Мы сделаем ниже!</p>
        </a>
        <a class="benifit credit" href="/credit/">
            <span></span>
            <h4>Рассрочка и кредит</h4>
            <p>Максимально выгодные и прозрачные условия.</p>
        </a>
        <a class="benifit assortment" href="/catalog/">
            <span>250</span>
            <h4>Огромный ассортимент</h4>
            <p>1 млн. товаров на сайте, 100 тыс. в наличии.</p>
        </a>
    </div>
    <div class="main">
        {{ render(controller('AppBundle:Main:getBlockLastview')) }}
    </div>
    {% include 'Main/seo.html.twig' %}
{% endblock %}
