{% extends "layout.html.twig" %}

{% block pageTitle %}Интернет-магазин бытовой техники и товаров для дома в г.{{ app.geoCity.name }}{% endblock %}

{% block pageDescription %}
    {{ app.defaultPageDescription }}
{% endblock %}

{% block stylesheets %}
<style>
    #header:before,
    #header:after {
        display: none;
    }
    #content {
        padding-top: 0;
    }
    #tree {
        display: block;
        margin: 0 0 39px;
    }
    .notice-block {
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
    <nav id="nav">
        {{ render(controller('AppBundle:Main:getMenu')) }}

        <div id="services">
            {{ render(controller('AppBundle:Main:getServices')) }}
        </div>
        <a href="/partnership/#wholesale" class="bttn intro wholesalers">Оптовикам</a>
        <a href="/partnership/#franchising" class="bttn intro franchising">Франчайзинг</a>
            <a href="/partnership/#franchising" style="text-decoration: none;border:none;"><p style="background-color: #F5F5F5;border-radius: 4px;font-family: Intro; font-size: 15px; width: 200px; text-align: center; line-height: 25px; color: rgb(58, 164, 203);padding-bottom: 20px;display: inline-block;padding-top:15px;">ищем<br/> <span style="color:#C5A864">представителей</span><br/> в регионах</p></a>
    </nav>

    <div class="wrapper">
        {{ render(controller('AppBundle:Main:getBannerMain')) }}
        <div class="benifits">
            <a class="benifit delivery">
                <span></span>
                <h4>Доставка по всей России</h4>
                <p>Быстрая доставка внутри городов и областей.</p>
            </a>
            <a class="benifit price">
                <span></span>
                <h4>Гарантия низких цен</h4>
                <p>Нашли дешевле?<br />Мы сделаем ниже!</p>
            </a>
            <a class="benifit credit">
                <span></span>
                <h4>Рассрочка и кредит</h4>
                <p>Максимально выгодные и прозрачные условия.</p>
            </a>
            <a class="benifit assortment">
                <span>250</span>
                <h4>Огромный ассортимент</h4>
                <p>1 млн. товаров на сайте, 100 тыс. в наличии.</p>
            </a>
        </div>
        {{ render(controller('AppBundle:Main:getBlockSpecials')) }}
    </div>
    {{ render(controller('AppBundle:Main:getBlockPopulars')) }}
    <div class="benifits mobile-benefits">
        <a class="benifit delivery">
            <span></span>
            <h4>Доставка по всей России</h4>
            <p>Быстрая доставка внутри городов и областей.</p>
        </a>
        <a class="benifit price">
            <span></span>
            <h4>Гарантия низких цен</h4>
            <p>Нашли дешевле?<br />Мы сделаем ниже!</p>
        </a>
        <a class="benifit credit">
            <span></span>
            <h4>Рассрочка и кредит</h4>
            <p>Максимально выгодные и прозрачные условия.</p>
        </a>
        <a class="benifit assortment">
            <span>250</span>
            <h4>Огромный ассортимент</h4>
            <p>1 млн. товаров на сайте, 100 тыс. в наличии.</p>
        </a>
    </div>
    <div class="main">
        {{ render(controller('AppBundle:Main:getBlockLastview')) }}
    </div>
    {% include 'Main/seo.html.twig' %}
{% endblock %}
