{% macro render_product(product) %}
    <div class="product">
        <a href="{% if product.sefUrl %}{{ path('catalog_product_sef', { slug: product.sefUrl }) }}{% else %}{{ path('catalog_product', { id: product.id }) }}{% endif %}" class="image">
            <img
                src="{{ product|image(constant("AppBundle\\Enum\\BaseProductImage::SIZE_MD")) }}"
                data-src="{{ product|image(constant("AppBundle\\Enum\\BaseProductImage::SIZE_MD")) }}"
                alt="{{ product.name }}"
                class="lazyload"
            />
        </a>
        <h6><a href="{% if product.sefUrl %}{{ path('catalog_product_sef', { slug: product.sefUrl }) }}{% else %}{{ path('catalog_product', { id: product.id }) }}{% endif %}">{{ product.name }}</a></h6>
        <strong class="price">{{ product.price|price_format }} <span class="RUR">Р</span></strong>
        <span class="discount">Акция</span>
    </div>
{% endmacro %}
{% import _self as macro %}
<div id="tree">
    <h3 class="tree-title">Каталог</h3>
    <ul>
        <li>
            <a href="{{ path('burning_offers_page') }}" class="hot-offer"></a>
        </li>
        {% for category1 in menu %}
            <li data-id="{{ category1.id }}">
                <a href="{% if category1.sefUrl %}{{ path('catalog_category_sef', { slug: category1.sefUrl }) }}{% else %}{{ path('catalog_category', { id: category1.id }) }}{% endif %}"{% if category1.id == 33536 %} class="special service"{% elseif category1.id == 5086104 %} class="special on-order"{% endif %}>
                    {{ category1.name }}
                    {% if category1.id == 7707 %}
                        <span class="new"></span>
                        <span style="display: block; font-size: 10px;">более 500 тыс. товаров</span>
                    {% endif %}
                    <span class="go-to-category">Перейти в раздел</span>
                </a>
                <div id="subtree-{{ category1.id }}" class="subtree">
                    {% for category2 in category1.children %}
                        {% if category1.count == 6 and loop.last and category1.product %}
                            {{ macro.render_product(category1.product) }}
                        {% endif %}
                        <ul>
                            <li class="top">
                                <h4>
                                    <a href="{% if category2.sefUrl %}{{ path('catalog_category_sef', { slug: category2.sefUrl }) }}{% else %}{{ path('catalog_category', { id: category2.id }) }}{% endif %}">
                                        {{ category2.name }}
                                        {% if category2.id == 4590 %}
                                            <span class="new"></span>
                                        {% endif %}
                                        <span class="go-to-category">Перейти в раздел</span>
                                    </a>
                                </h4>
                            </li>
                            {% for category3 in category2.children %}
                                <li>
                                    <a href="{% if category3.sefUrl %}{{ path('catalog_category_sef', { slug: category3.sefUrl }) }}{% else %}{{ path('catalog_category', { id: category3.id }) }}{% endif %}">
                                        {{ category3.name }}
                                    </a>
                                </li>
                            {% endfor %}
                            {% if category2.isAll %}
                                <li class="all">
                                    <a href="{% if category2.sefUrl %}{{ path('catalog_category_sef', { slug: category2.sefUrl }) }}{% else %}{{ path('catalog_category', { id: category2.id }) }}{% endif %}">Все разделы</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                    {% for categories in category1.last %}
                        <ul>
                            {% for category in categories %}
                                <li>
                                    <h4>
                                        <a href="{% if category.sefUrl %}{{ path('catalog_category_sef', { slug: category.sefUrl }) }}{% else %}{{ path('catalog_category', { id: category.id }) }}{% endif %}">
                                            {{ category.name }}
                                        </a>
                                    </h4>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    {% if category1.last %}
                        <ul class="mobile-all">
                            <li class="top">
                                <h4>
                                    <a href="{% if category1.sefUrl %}{{ path('catalog_category_sef', { slug: category1.sefUrl }) }}{% else %}{{ path('catalog_category', { id: category1.id }) }}{% endif %}" class="all go-to-category">Все разделы</a>
                                </h4>
                            </li>
                        </ul>
                    {% endif %}
                    {% if category1.count != 6 and category1.product %}
                        {{ macro.render_product(category1.product) }}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
