<div title="Оплата через &laquo;Сбербанк&raquo;" data-min-width="860">
    {# <div class="info">Сумма позиций, наличие которых подтверждено менеджером (итого к оплате): {$order.can_payed|price_format} <span class="RUR">Р</span>.</div> #}
    <h2>Варианты оплаты</h2>
    <ul id='sberbank-instruction'>
        <li>
            <span style="float:right;font-size: 16px; color:white; margin: 7px 5px 0 0;">▲</span>
            <h3 class="bttn green" style="
                    padding-top: 10px;
                    text-align: left;
                    cursor:pointer;
                    margin-bottom: 10px;
                ">

                1. &laquo;Сбербанк Онлайн&raquo;</h3>
            <ol class='sberbank-option'>
                <li>1. В приложении "Сбербанк Онлайн" Сверху в строке поиска введите "Vseinet"</li>
                <li>2. Выберете из результатов поиска любой вариант</li>
                <li>3. Введите номер заказа: <strong>{{ number }}</strong> и оплатите</li>
            </ol><br/>
            <p><a href="{{ path('content_page', { slug: 'payment' }) }}">Подробная инструкция с картинками.</a></p><br/>
        </li>
        <li>
            <span style="float:right;font-size: 16px; color:white; margin: 7px 5px 0 0;">▼</span>
            <h3 class="bttn green" style="
                padding-top: 10px;
                text-align: left;
                cursor:pointer;
                margin-bottom: 10px;
            ">

                2. QR код &laquo;Сбербанк Онлайн&raquo;</h3>
            <ol class='sberbank-option' style='display: none'>
                <li>1. В приложении "Сбербанк онлайн" откройте раздел платежи.</li>
                <li>2. Отсканируйте QR код.<br/><br/>
                <img src="/api/pay/qrcode/{{ id }}/?format=svg" alt="Qr-code по заказу №{{ number }}" width="150px" /><br/><br/></li>
                <li>3. Оплатите</li>
            </ol><br/>
        </li>
        {# <p style="font-style:italic;">Вы можете отправить QR-код на другое устройство, чтобы отсканировать его из приложения на своем смартфоне <br />
        <form id="sberbank-contact-form">
            Канал отправки: <select class="txt" id="sberbank-channel-select-{{ number }}" name="sberbank_channel" style="width: 239px;"><option value="" selected>Выбрать</option><option value="email">Электронная почта</option><option value="viber">Viber</option></select><br />
            <input placeholder="Контакт" class="txt" type="text" name="sberbank_contact" id="sberbank-contact-input-{{ number }}" size="10" style="width: 230px;" /> &nbsp;
            <button style="width: 100px;" class="bttn blue" name="sberbank_button" id="sberbank-contact-button-{{ number }}">Отправить</button>
        </form></p> #}
        <li>
            <span style="float:right;font-size: 16px; color:white; margin: 7px 5px 0 0;">▼</span>
            <h3 class="bttn green" style="
                padding-top: 10px;
                text-align: left;
                cursor:pointer;
                margin-bottom: 10px;
            ">

                3. Терминал (банкомат) оплаты Сбербанка</h3>
            <ol class='sberbank-option' style='display: none'>
                <li>1. Выберите в услугах организацию Vseinet.ru</li>
                <li>2. Укажите номер заказа: <strong>{{ number }}</strong></li>
                <li>3. Оплатите</li>
            </ol><br/>
        </li>
        {# <li><h3>Отделение Сбербанка по счету</h3>
            <p><a class="btn btn-primary btn-labeled fa fa-print" href="/order/PrintInvoicePDF/{$order.id}" onclick="window.open(this.href);return false;">Распечатать счет</a></p></li> #}
    </ul>
</div>
<script type='text/javascript'>
    $(function () {
        $(document).on("click", "#sberbank-instruction h3", function (e) {
            $('#sberbank-instruction .sberbank-option').hide();
            $('#sberbank-instruction h3').prev().html('▼');
            $(this).next('.sberbank-option').show();
            $(this).prev().html('▲');
        });
    });
</script>
{#
        $(document).on("change", "#sberbank-channel-select-{{ number }}", function (e) {
            var input = $('#sberbank-contact-input-{{ number }}');
            if ($(this).val() == 'viber') {
                Inputmask("+7 (999) 999-99-99").mask(input);
            } else if ($(this).val() == 'email') {
                Inputmask({ alias: "email"}).mask(input);
            } else {
                Inputmask.remove(input);
            }
        });
        $(document).on("click", "#sberbank-contact-button-{{ number }}", function (e) {
            e.preventDefault();

            var form = $(this).closest('form');
            var contact = form.find('input').val();
            var channel = form.find('select').val();

            if (!!contact && !!channel) {
                $.ajax({
                    url: '/order/SberbankContact/{$order.id}',
                    method: 'POST',
                    dataType: 'json',
                    data: { contact: contact, channel: channel, token: sp.security.token },
                    complete: function (jqXHR, status) {
                        var response = jqXHR.responseJSON;

                        if (response === undefined) {
                            alert('Произошла ошибка на сервере. Попробуйте отправить позднее');
                            console.warn(jqXHR, status);

                            return false;
                        }

                        if (response.hasOwnProperty('result') && response.result === 'ok') {
                            alert('Штрих-код успешно отправлен');
                        } else {
                            if (response.hasOwnProperty('error')) {
                                alert(response.error);
                            }
                        }
                    }
                });
            } else {
                alert('Заполните/выберите все поля формы');
            }
        });
 #}
