{% extends "layout.html.twig" %}

{% block pageDescription %}
    Книга предложений
{% endblock %}

{% block content %}
<h1>Книга предложений</h1>

{{ form_start(form, { action: path('suggestion'), attr: { id: 'suggestion-form', class: 'w60p' }}) }}

<fieldset class="block">
    <div class="wrapper">
        <p>Если у вас есть замечания или предложения по работе сайта, заполните форму ниже. Ваше обращение будет рассмотрено в ближайшее время.</p>
    </div>
</fieldset>

<fieldset class="block gray">
    <div class="wrapper">
        <h2>Ваше предложение</h2>
        <div class="row h{% if errors.text is defined %} error{% endif %}">
            {{ form_label(form.text, 'Текст:*') }}
            {{ form_widget(form.text, { attr: { rows: 8, class: 'txt' }}) }}
            <span class="status"></span>
            {% if errors.text is defined %}
                <div class="error">{{ errors.text.0 }}</div>
            {% endif %}
        </div>
    </div>
</fieldset>

<fieldset class="block">
    <div class="wrapper">
        <h2>Контактная информация</h2>
        {% include 'User/user_data_form.html.twig' with { form: form, hideAdditionalPhone: true } only %}
        {% include 'User/is_human_form.html.twig' with { form: form } only %}
    </div>
</fieldset>

<div class="row h">
    {{ form_widget(form.submit, { label: 'Отправить предложение', attr: { class: 'bttn green r' }}) }} 
    {{ form_widget(form._token) }}
</div>

{{ form_end(form, { render_rest: false }) }}

{% endblock %}
