<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>Админка / Интернет-магазин "Vseinet.ru"</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            document.addEventListener('DOMContentLoaded', function(e) {
                var auth = {
                    accessToken: '"{{ accessToken|raw }}"',
                    csrfToken: '"{{ csrfToken|raw }}"',
                    expiresAt: JSON.stringify(({{ expiresIn }} - 10)*1000 + Date.now()),
                    isAuthorized: "true"
                };
                localStorage.setItem('persist:auth', JSON.stringify(auth));

                var user = {{ user|json_encode|raw }};
                for (var key in user) {
                    user[key] = JSON.stringify(user[key]);
                }
                localStorage.setItem('persist:user', JSON.stringify(user));

                setTimeout(function() {
                    window.location = '{{ targetUrl|raw }}';
                }, 100);
            });
        </script>
    </head>
    <body>
    </body>
</html>