<h4 class="part_title"><span>Резервы на точках</span></h4>
<table class="point_reserve">
    <thead>
        <tr>
            <th>Точка</th>
            <th title="Свободные остатки на складе">Свободных</th>
            <th title="Свободные остатки на складе, зарезервированные под перемещение на другой склад">Своб. в резерве</th>
            <th title="Свободные остатки, находящиеся в пути на склад">Своб. в пути</th>
            <th title="Заказанный товар, находящийся на складе">Заказанных</th>
            <th title="Заказанный товар, находящийся в пути">Заказ. в пути</th>
            <th title="Претензионный товар, находящийся на складе">В претензиях</th>
            <th title="Претензионный товар, находящийся в пути на склад">Претензион. в пути</th>
        </tr>
    </thead>
    <tbody>
        <tr class="all">
            <td>На всех точках</td>
            <td>
                {{ reserves.freeDelta }}
            </td>
            <td>
                {{ reserves.freeReservedDelta }}
            </td>
            <td>
                {{ reserves.freeTransitDelta }}
            </td>
            <td>
                {{ reserves.reservedDelta }}
            </td>
            <td>
                {{ reserves.reservedTransitDelta }}
            </td>
            <td>
                {{ reserves.issuedDelta }}
            </td>
            <td>
                {{ reserves.issuedTransitDelta }}
            </td>
        </tr>
        {% for geoCity in reserves.geoCities %}
            <tr class="category">
                <td>{{ geoCity.name }}</td>
                <td>
                    {# {{ geoCity.freeDelta }} #}
                </td>
                <td>
                    {# {{ geoCity.freeReservedDelta }} #}
                </td>
                <td>
                    {# {{ geoCity.freeTransitDelta }} #}
                </td>
                <td>
                    {# {{ geoCity.reservedDelta }} #}
                </td>
                <td>
                    {# {{ geoCity.reservedTransitDelta }} #}
                </td>
                <td>
                    {# {{ geoCity.issuedDelta }} #}
                </td>
                <td>
                    {# {{ geoCity.issuedTransitDelta }} #}
                </td>
            </tr>
            {% for geoPointId in geoCity.geoPointIds %}
                {% set geoPoint = reserves.geoPoints[geoPointId] %}
                <tr class="type">
                    <td>
                        <span class="pricetag-price{% if geoPoint.pricetagIsHandmade %} handmade{% endif %}" title="{{ geoPoint.pricetagDate|date('d.m.Y H:i') }}, {{ geoPoint.pricetagCreator }}">{{ geoPoint.pricetag|price_format }}</span>
                        {{ geoPoint.name }}
                        <a href="{{ path('admin_handmade_pricetag_edit', { geoPointId: geoPointId, id: baseProductId }) }}" class="icon-edit handmade-pricetag-edit" title="Редактировать"></a>
                        <span title="{{ geoPoint.handmadePricetagDate|date('d.m.Y H:i') }}, {{ geoPoint.handmadePricetagCreator }}">{{ geoPoint.handmadePricetag|price_format }}</span>
                    </td>
                    <td>
                        {# {{ geoPoint.freeDelta }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.freeReservedDelta }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.freeTransitDelta }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.reservedDelta }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.reservedTransitDelta }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.issuedDelta }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.issuedTransitDelta }} #}
                    </td>
                </tr>
                {% for geoRoomId in geoPoint.geoRoomIds %}
                    {% set geoRoom = reserves.geoRooms[geoRoomId] %}
                    <tr class="room">
                        <td>{{ geoRoom.name }}</td>
                        <td>
                            {{ geoRoom.freeDelta }}
                        </td>
                        <td>
                            {{ geoRoom.freeReservedDelta }}
                        </td>
                        <td>
                            {{ geoRoom.freeTransitDelta }}
                        </td>
                        <td>
                            {{ geoRoom.reservedDelta }}
                        </td>
                        <td>
                            {{ geoRoom.reservedTransitDelta }}
                        </td>
                        <td>
                            {{ geoRoom.issuedDelta }}
                        </td>
                        <td>
                            {{ geoRoom.issuedTransitDelta }}
                        </td>
                    </tr>
                    {% for supply in geoRoom.supplies %}
                        <tr class="supply">
                            <td>
                                <span style="float: right">закуп. {{ supply.purchasePrice|price_format }}</span>
                                {% if 1 != supply.supplyId %}<a href="/admin/supplies/{{ supply.supplyId }}">{% endif %}{{ supply.supplierCode }}-{{ supply.supplyNumber }} от {{ supply.supplyCreatedAt|date('d.m.Y') }}{% if 1 != supply.supplyId %}</a>{% endif %}
                            </td>
                            <td>
                                {{ supply.freeDelta }}
                            </td>
                            <td>
                                {{ supply.freeReservedDelta }}
                            </td>
                            <td>
                                {{ supply.freeTransitDelta }}
                            </td>
                            <td>
                                {{ supply.reservedDelta }}
                            </td>
                            <td>
                                {{ supply.reservedTransitDelta }}
                            </td>
                            <td>
                                {{ supply.issuedDelta }}
                            </td>
                            <td>
                                {{ supply.issuedTransitDelta }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
