<h4 class="part_title"><span>Резервы на точках</span></h4>
<table class="point_reserve">
    <thead>
        <tr>
            <th>Точка</th>
            <th>Свободных</th>
            <th>Своб. в пути</th>
            <th>Заказанных</th>
            <th>Заказ. в пути</th>
            <th>В претензиях</th>
            <th>Претензион. в пути</th>
        </tr>
    </thead>
    <tbody>
        <tr class="all">
            <td>На всех точках</td>
            <td>
                {{ reserves.freeDelta }}
            </td>
            <td>
                {{ reserves.freeTransitDelta }}
            </td>
            <td>
                {{ reserves.reservedDelta }}
            </td>
            <td>
                {{ reserves.reservedTransitDelta }}
            </td>
            <td>
                {{ reserves.issuedDelta }}
            </td>
            <td>
                {{ reserves.issuedTransitDelta }}
            </td>
        </tr>
        {% for geoCity in reserves.geoCities %}
            <tr class="category">
                <td>{{ geoCity.name }}</td>
                <td>
                    {{ geoCity.freeDelta }}
                </td>
                <td>
                    {{ geoCity.freeTransitDelta }}
                </td>
                <td>
                    {{ geoCity.reservedDelta }}
                </td>
                <td>
                    {{ geoCity.reservedTransitDelta }}
                </td>
                <td>
                    {{ geoCity.issuedDelta }}
                </td>
                <td>
                    {{ geoCity.issuedTransitDelta }}
                </td>
            </tr>
            {% for geoPointId in geoCity.geoPointIds %}
                {% set geoPoint = reserves.geoPoints[geoPointId] %}
                <tr class="type">
                    <td>{{ geoPoint.name }}</td>
                    <td>
                        {{ geoPoint.freeDelta }}
                    </td>
                    <td>
                        {{ geoPoint.freeTransitDelta }}
                    </td>
                    <td>
                        {{ geoPoint.reservedDelta }}
                    </td>
                    <td>
                        {{ geoPoint.reservedTransitDelta }}
                    </td>
                    <td>
                        {{ geoPoint.issuedDelta }}
                    </td>
                    <td>
                        {{ geoPoint.issuedTransitDelta }}
                    </td>
                </tr>
                {% for geoRoomId in geoPoint.geoRoomIds %}
                    {% set geoRoom = reserves.geoRooms[geoRoomId] %}
                    <tr class="room">
                        <td>{{ geoRoom.name }}</td>
                        <td>
                            {{ geoRoom.freeDelta }}
                        </td>
                        <td>
                            {{ geoRoom.freeTransitDelta }}
                        </td>
                        <td>
                            {{ geoRoom.reservedDelta }}
                        </td>
                        <td>
                            {{ geoRoom.reservedTransitDelta }}
                        </td>
                        <td>
                            {{ geoRoom.issuedDelta }}
                        </td>
                        <td>
                            {{ geoRoom.issuedTransitDelta }}
                        </td>
                    </tr>
                    {% for supply in geoRoom.supplies %}
                        <tr class="supply">
                            <td>{% if 1 !== supply.supplyId %}<a href="/admin/supplies/{{ supply.supplyId }}">{% endif %}{{ supply.supplierCode }}-{{ supply.supplyNumber }} от {{ supply.supplyCreatedAt|date('d.m.Y') }}{% if 1 !== supply.supplyId %}</a>{% endif %}</td>
                            <td>
                                {{ supply.freeDelta }}
                            </td>
                            <td>
                                {{ supply.freeTransitDelta }}
                            </td>
                            <td>
                                {{ supply.reservedDelta }}
                            </td>
                            <td>
                                {{ supply.reservedTransitDelta }}
                            </td>
                            <td>
                                {{ supply.issuedDelta }}
                            </td>
                            <td>
                                {{ supply.issuedTransitDelta }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
