<h4 class="part_title"><span>Резервы на точках</span></h4>
<table class="point_reserve">
    <thead>
        <tr>
            <th rowspan="2">Точка</th>
            <th colspan="4" class="free">Свободные остатки</th>
            <th colspan="3" class="reserved">Под клиентов</th>
            <th colspan="2" class="issued">В претензиях</th>
        </tr>
        <tr>
            <th class="free" title="Свободные остатки на складе">На складе</th>
            <th class="free" title="Свободные остатки на складе, зарезервированные под перемещение на другой склад">К перемещению</th>
            <th class="free" title="Свободные остатки, зарезервированные под перемещение на другой склад, упакованные для отправки">Упакован</th>
            <th class="free" title="Свободные остатки, находящиеся в пути на склад">В пути</th>
            <th class="reserved" title="Заказанный товар, находящийся на складе">На складе</th>
            <th class="reserved" title="Заказанный товар, упакованный на складе для отправки на другой склад">Упакован</th>
            <th class="reserved" title="Заказанный товар, находящийся в пути">В пути</th>
            <th class="issued" title="Претензионный товар, находящийся на складе">На складе</th>
            <th class="issued" title="Претензионный товар, находящийся в пути на склад">В пути</th>
        </tr>
    </thead>
    <tbody>
        <tr class="all">
            <td>На всех точках</td>
            <td>
                {{ reserves.freeDelta ?: '' }}
            </td>
            <td>
                {{ reserves.freeReservedDelta ?: '' }}
            </td>
            <td>
                {{ reserves.freeAssembledDelta ?: '' }}
            </td>
            <td>
                {{ reserves.freeTransitDelta ?: '' }}
            </td>
            <td>
                {{ reserves.reservedDelta ?: '' }}
            </td>
            <td>
                {{ reserves.reservedAssembledDelta ?: '' }}
            </td>
            <td>
                {{ reserves.reservedTransitDelta ?: '' }}
            </td>
            <td>
                {{ reserves.issuedDelta ?: '' }}
            </td>
            <td>
                {{ reserves.issuedTransitDelta ?: '' }}
            </td>
        </tr>
        {% for geoCity in reserves.geoCities %}
            <tr class="category">
                <td>{{ geoCity.name }}</td>
                <td>
                    {# {{ geoCity.freeDelta ?: '' }} #}
                </td>
                <td>
                    {# {{ geoCity.freeReservedDelta ?: '' }} #}
                </td>
                <td>
                    {# {{ geoCity.freeAssembledDelta ?: '' }} #}
                </td>
                <td>
                    {# {{ geoCity.freeTransitDelta ?: '' }} #}
                </td>
                <td>
                    {# {{ geoCity.reservedDelta ?: '' }} #}
                </td>
                <td>
                    {# {{ geoCity.reservedAssembledDelta ?: '' }} #}
                </td>
                <td>
                    {# {{ geoCity.reservedTransitDelta ?: '' }} #}
                </td>
                <td>
                    {# {{ geoCity.issuedDelta ?: '' }} #}
                </td>
                <td>
                    {# {{ geoCity.issuedTransitDelta ?: '' }} #}
                </td>
            </tr>
            {% for geoPointId in geoCity.geoPointIds %}
                {% set geoPoint = reserves.geoPoints[geoPointId] %}
                <tr class="type">
                    <td>
                        <span class="pricetag-price{% if geoPoint.pricetagIsHandmade %} handmade{% endif %}" title="{{ geoPoint.pricetagDate|date('d.m.Y H:i') }}, {{ geoPoint.pricetagCreator }}">{{ geoPoint.pricetag|price_format }}</span>
                        {{ geoPoint.name }}
                        <a href="{{ path('admin_handmade_pricetag_edit', { geoPointId: geoPointId, id: baseProductId }) }}" class="icon-edit handmade-pricetag-edit" title="Редактировать"></a>
                        <span title="{{ geoPoint.handmadePricetagDate|date('d.m.Y H:i') }}, {{ geoPoint.handmadePricetagCreator }}">{{ geoPoint.handmadePricetag|price_format }}</span>
                    </td>
                    <td>
                        {# {{ geoPoint.freeDelta ?: '' }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.freeReservedDelta ?: '' }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.freeAssembledDelta ?: '' }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.freeTransitDelta ?: '' }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.reservedDelta ?: '' }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.reservedAssembledDelta ?: '' }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.reservedTransitDelta ?: '' }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.issuedDelta ?: '' }} #}
                    </td>
                    <td>
                        {# {{ geoPoint.issuedTransitDelta ?: '' }} #}
                    </td>
                </tr>
                {% for geoRoomId in geoPoint.geoRoomIds %}
                    {% set geoRoom = reserves.geoRooms[geoRoomId] %}
                    <tr class="room">
                        <td>{{ geoRoom.name }}</td>
                        <td{% if geoRoom.freeDelta %} class="free"{% endif %}>
                            {{ geoRoom.freeDelta ?: '' }}
                        </td>
                        <td{% if geoRoom.freeReservedDelta %} class="free"{% endif %}>
                            {{ geoRoom.freeReservedDelta ?: '' }}
                        </td>
                        <td{% if geoRoom.freeAssembledDelta %} class="free"{% endif %}>
                            {{ geoRoom.freeAssembledDelta ?: '' }}
                        </td>
                        <td{% if geoRoom.freeTransitDelta %} class="free"{% endif %}>
                            {{ geoRoom.freeTransitDelta ?: '' }}
                        </td>
                        <td{% if geoRoom.reservedDelta %} class="reserved"{% endif %}>
                            {{ geoRoom.reservedDelta ?: '' }}
                        </td>
                        <td{% if geoRoom.reservedAssembledDelta %} class="reserved"{% endif %}>
                            {{ geoRoom.reservedAssembledDelta ?: '' }}
                        </td>
                        <td{% if geoRoom.reservedTransitDelta %} class="reserved"{% endif %}>
                            {{ geoRoom.reservedTransitDelta ?: '' }}
                        </td>
                        <td{% if geoRoom.issuedDelta %} class="issued"{% endif %}>
                            {{ geoRoom.issuedDelta ?: '' }}
                        </td>
                        <td{% if geoRoom.issuedTransitDelta %} class="issued"{% endif %}>
                            {{ geoRoom.issuedTransitDelta ?: '' }}
                        </td>
                    </tr>
                    {% for supply in geoRoom.supplies %}
                        <tr class="supply">
                            <td>
                                <span style="float: right">закуп. {{ supply.purchasePrice|price_format }}</span>
                                {% if 1 != supply.supplyId %}<a href="/admin/supplies/{{ supply.supplyId }}">{% endif %}{{ supply.supplierCode }}-{{ supply.supplyNumber }} от {{ supply.supplyCreatedAt|date('d.m.Y') }}{% if 1 != supply.supplyId %}</a>{% endif %}
                            </td>
                            <td>
                                {{ supply.freeDelta ?: '' }}
                            </td>
                            <td>
                                {{ supply.freeReservedDelta ?: '' }}
                            </td>
                            <td>
                                {{ supply.freeAssembledDelta ?: '' }}
                            </td>
                            <td>
                                {{ supply.freeTransitDelta ?: '' }}
                            </td>
                            <td>
                                {{ supply.reservedDelta ?: '' }}
                            </td>
                            <td>
                                {{ supply.reservedAssembledDelta ?: '' }}
                            </td>
                            <td>
                                {{ supply.reservedTransitDelta ?: '' }}
                            </td>
                            <td>
                                {{ supply.issuedDelta ?: '' }}
                            </td>
                            <td>
                                {{ supply.issuedTransitDelta ?: '' }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
