{% if command.id %}
    {% set title = 'Редактирование адреса' %}
    {% set action = path('user_address_edit', { id: command.id }) %}
{% else %}
    {% set title = 'Добавление нового адреса' %}
    {% set action = path('user_address_add') %}
{% endif %}

{{ form_start(form, { action: action, attr: { id: 'address-form', title: title }}) }}

<div class="row h{% if errors.add_address_geoCityName is defined %} error{% endif %}">
    {{ form_label(form.geoCityName, 'Город*:') }}
    {{ form_widget(form.geoCityName, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    {% if errors.add_address_geoCityId is defined %}
        <div class="error">{{ errors.add_address_geoCityId.0 }}</div>
    {% endif %}
</div>

<div class="row h{% if errors.add_address_geoStreetName is defined %} error{% endif %}">
    {{ form_label(form.geoStreetName, 'Улица*:') }}
    {{ form_widget(form.geoStreetName, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    {% if errors.add_address_geoStreetId is defined %}
        <div class="error">{{ errors.add_address_geoStreetId.0 }}</div>
    {% endif %}
</div>

<div class="row h{% if errors.add_address_house is defined or errors.add_address_floor is defined %} error{% endif %}">
    <div class="col w80">
        {{ form_widget(form.house, { attr: { class: 'txt' }}) }}
        <div class="notice">Дом*</div>
    </div>
    <div class="col w80">
        {{ form_widget(form.building, { attr: { class: 'txt' }}) }}
        <div class="notice">корпус</div>
    </div>
    <div class="col w80">
        {{ form_widget(form.apartment, { attr: { class: 'txt' }}) }}
        <div class="notice">квартира</div>
    </div>
    <div class="col w80">
        {{ form_widget(form.floor, { attr: { class: 'txt' }}) }}
        <div class="notice">этаж</div>
    </div>
    <div class="col w150 inline-h" style="padding-top:10px">
        {{ form_widget(form.hasLift) }}
        {{ form_label(form.hasLift, 'есть лифт') }}
    </div>
    <span class="status"></span>
    {% if errors.add_address_house is defined %}
        <div class="error">{{ errors.add_address_house.0 }}</div>
    {% elseif errors.add_address_floor is defined %}
        <div class="error">{{ errors.add_address_floor.0 }}</div>
    {% endif %}
</div>

<div class="row h">
    {{ form_label(form.comment, 'Комментарий:') }}
    {{ form_widget(form.comment, { attr: { class: 'txt' }}) }}
</div>

<div class="row h">
    <div class="inline-h">
        {{ form_widget(form.isMain) }}
        {{ form_label(form.isMain, 'Основной') }}
    </div>
</div>

<div class="row h">
    {{ form_widget(form.submit, { label: 'Сохранить', attr: { class: 'bttn green' }}) }}
    {{ form_widget(form.geoCityId) }}
    {{ form_widget(form.geoStreetId) }}
    {{ form_widget(form._token) }}
</div>

{{ form_end(form, { render_rest: false }) }}