<tr data-id="{{ contact.id }}"{% if contact.isMain %} class="main"{% endif %}>
    <td>
        {{ contact.typeCodeName }}
    </td>
    <td>
        {% if contact.isPhone %} 
            {{ contact.value|phone_format }}
        {% else %}
            {{ contact.value }}
        {% endif %}
    </td>
    <td>
        <a 
            href="{{ path('user_contact_edit', { id: contact.id }) }}" 
            title="Редактировать"
            class="icon contact-edit"
        ></a>
        <a 
            href="{{ path('user_contact_delete', { id: contact.id }) }}" 
            title="Удалить"
            class="icon contact-delete"
        ></a>
    </td>
</tr>