{{ form_start(form, { action: path('user_edit'), attr: { id: 'user-edit-form', novalidate: true }}) }}

{% set count = errors|length %}
{% if count %}
    <div class="row h error-summary">
        <span class="error">
            {{ count|declension('Обнаружена;Обнаружено')}}
            {{ count }}
            {{ count|declension('ошибка;ошибок')}}
        </span>
    </div>
{% endif %}

<div class="row h{% if errors.account_edit_lastname is defined %} error{% endif %}">
    {{ form_label(form.lastname, 'Фамилия*:') }}
    {{ form_widget(form.lastname, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    {% if errors.account_edit_lastname is defined %}
        <div class="error">{{ errors.account_edit_lastname.0 }}</div>
    {% endif %}
</div>

<div class="row h{% if errors.account_edit_firstname is defined %} error{% endif %}">
    {{ form_label(form.firstname, 'Имя*:') }}
    {{ form_widget(form.firstname, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    {% if errors.account_edit_firstname is defined %}
        <div class="error">{{ errors.account_edit_firstname.0 }}</div>
    {% endif %}
</div>

<div class="row h{% if errors.account_edit_secondname is defined %} error{% endif %}">
    {{ form_label(form.secondname, 'Отчество:') }}
    {{ form_widget(form.secondname, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    {% if errors.account_edit_secondname is defined %}
        <div class="error">{{ errors.account_edit_secondname.0 }}</div>
    {% endif %}
</div>

<div class="row h{% if errors.account_edit_gender is defined %} error{% endif %}">
    {{ form_label(form.gender, 'Пол*:') }}
    <div class="gender">
        {{ form_widget(form.gender) }}
        <span class="status"></span>
    </div>
    {% if errors.account_edit_gender is defined %}
        <div class="error">{{ errors.account_edit_gender.0 }}</div>
    {% endif %}
</div>

<div class="row h{% if errors.account_edit_birthday is defined %} error{% endif %}">
    {{ form_label(form.birthday, 'Дата рождения:') }}
    {{ form_widget(form.birthday, { attr: { class: 'txt datepicker', autocomplete: 'off' }}) }}
    <span class="status"></span>
    {% if errors.account_edit_birthday is defined %}
        <div class="error">{{ errors.account_edit_birthday.0 }}</div>
    {% endif %}
</div>

<div class="row h{% if errors.account_edit_geoCityName is defined %} error{% endif %}">
    {{ form_label(form.geoCityName, 'Населенный пункт*:') }}
    {{ form_widget(form.geoCityName, { attr: { class: 'txt' }}) }}
    {% if errors.account_edit_geoCityName is defined %}
        <div class="error">{{ errors.account_edit_geoCityName.0 }}</div>
    {% endif %}
</div>

<div class="row h">
    <div class="subscribe">
        {{ form_widget(form.isMarketingSubscribed) }}
        {{ form_label(form.isMarketingSubscribed, 'Получать уведомления о сезонных распродажах') }}
    </div>
</div>

<div class="row h">
    {{ form_widget(form.submit, { label: 'Сохранить', attr: { class: 'bttn green' }}) }}
    {{ form_widget(form.geoCityId) }}
    {{ form_widget(form._token) }}
</div>

{{ form_end(form) }}
