<div class="row h{% if errors.userData.fullname is defined %} error{% endif %}" style="position: relative">
    <label for="{{ form.userData.fullname.vars.id }}">
        Ф.И.О. <b>*</b>
    </label>
    {{ form_widget(form.userData.fullname, { attr: { class: 'txt' ~ (app.userIsEmployee ? ' autocomplete' : ''), placeholder: 'Фамилия Имя Отчество' }})  }}
    <span id="lfsHelp" onclick="$('#create_form_fullname').focus()">Фамилия Имя Отчество</span>
    <span class="status"></span>
    {% if errors.userData.fullname is defined %}
        <div class="error">{{ errors.userData.fullname.0 }}</div>
    {% endif %}
    {{ form_widget(form.userData.userId) }}
    {{ form_widget(form.userData.comuserId) }}
</div>

<div class="row h{% if error.userData.phone is defined %} error{% endif %}">
    <label for="{{ form.userData.phone.vars.id }}">
        Телефон <b>*</b>
    </label>
    {{ form_widget(form.userData.phone, { attr: { class: 'txt' ~ (app.userIsEmployee ? ' autocomplete' : '') }}) }}
    <span class="status"></span>
    {% if errors.userData.phone is defined %}
        <div class="error">{{ errors.userName.phone.0 }}</div>
    {% endif %}
</div>

{% if hideAdditionalPhone is not defined %}
    <div class="row h{% if error.userData.additionalPhone is defined %} error{% endif %}">
        {{ form_label(form.userData.additionalPhone, 'Дополнительный телефон:') }}
        {{ form_widget(form.userData.additionalPhone, { attr: { class: 'txt' }}) }}
        <span class="status"></span>
        {% if errors.userData.additionalPhone is defined %}
            <div class="error">{{ errors.userName.additionalPhone.0 }}</div>
        {% endif %}
    </div>
{% endif %}

<div class="row h{% if error.userData.email is defined %} error{% endif %}">
    {{ form_label(form.userData.email, 'Email:') }}
    {{ form_widget(form.userData.email, { attr: { class: 'txt' }}) }}
    <span class="status"></span>
    {% if errors.userData.email is defined %}
        <div class="error">{{ errors.userName.email.0 }}</div>
    {% endif %}
</div>
