{% if favorites|length %}
    <div class="cart-table">
        <div class="cart-table-head row">
            <div class="coll-md-6">Товар</div>
            <div class="coll-md-3">&nbsp;</div>
            <div class="coll-md-2">Цена</div>
            <div class="coll-md-1">&nbsp;</div>
        </div>
        <div class="cart-table-body">
            {% for product in favorites %}
                <div class="row clearfix" data-id="{{ product.id }}">
                    <div class="coll-md-6">
                        <div class="image">
                            <img
                                src="{{ product|image(constant('AppBundle\\Enum\\BaseProductImage::SIZE_SM')) }}"
                                alt="Фото {{ product.name }}. Интернет-магазин Vseinet.ru Пенза"
                            />
                        </div>
                        <div class="text">
                            <h6><a href="{% if product.sefUrl %}{{ path('catalog_product_sef', { slug: product.sefUrl }) }}{% else %}{{ path('catalog_product', { id: product.id }) }}{% endif %}">{{ product.name }}</a></h6>
                            <p class="code">Код товара: {{ product.id }}</p>
                            {% if constant('AppBundle\\Enum\\ProductAvailabilityCode::AVAILABLE') == product.availabilityCode %}
                                <div class="status in-stock" style="font-size: 1.05em;font-weight: bold;">В наличии, доставка т.{% if app.geoCity.id != 1 %}8 (8412) {% endif %}290-708</div>
                            {% elseif constant('AppBundle\\Enum\\ProductAvailabilityCode::OUT_OF_STOCK') == product.availabilityCode %}
                                <div class="status not-available"{% if product.updatedAt %} style="cursor:help" title="Последний заход: {{ product.updatedAt|date('d.m.Y') }}"{% endif %}>Нет в продаже</div>
                            {% elseif constant('AppBundle\\Enum\\ProductAvailabilityCode::AWAITING') == product.availabilityCode %}
                                <div class="status on-order">Ожидается</div>
                            {% else %}
                                <div class="status on-order">На заказ</div>
                            {% endif %}
                            {#% if points|length %}
                                <p class="available">В наличии: {{ product.points }}</p>
                            {% if %#}
                        </div>
                    </div>
                    <div class="quantity coll-md-3">
                        <a href="{{ url('favorite_to_cart', { id: product.id }) }}" class="bttn green delete" data-favorite="{{ product.id }}">В корзину</a>
                    </div>
                    <div class="price coll-md-2">
                        {{ product.price|price_format }} <span class="RUR">Р</span>
                    </div>
                    <div class="delete coll-md-1">
                        <a
                            href="{{ url('favorite_del', { id: product.id }) }}"
                            class="delete action"
                            title="Удалить"
                            tabindex="-1"
                            data-favorite="{{ product.id }}"
                        >
                            Удалить
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <p>Нет товаров.</p>
{% endif %}
